<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
<!--      xmlns:shiro="http://shiro.apache.org/tags/facelets"-->
    
    <ui:composition template="/template/template.xhtml">
        <ui:define name="body">
            
<!--            <h:panelGrid columns="1">
                <h:outputText value="All-Site Summary" />
            </h:panelGrid>
-->
            <h3>All-Site Summary - New BOS (nBOS)</h3>
<!--            <shiro
            <shiro:principal />
            <shiro:hasPermission-->
            
            <h:form>
                <p:tabView activeIndex="#{controller.activeIndex}" style="border: transparent; background-color: #dddddd; border-color: transparent;"> 
                    <p:tab title="Basic View">
                        <div id="oldtable">
                <table>
                    <thead>
                        <tr>
                            <th class="header-class">Site Name</th>
                            <th class="header-class">Site ID</th>
                            <th class="header-class">Enrolling Status</th>
                            <th class="header-class">Participant Count</th>
                            <!-- The following three lines of code print out the heading for each status column such as Pending, Started, Submitted, etc. -->
                            <ui:repeat value="#{controller.eventStatus}" var="estatus" >
                                <th class="header-class">#{estatus.name}</th>
                            </ui:repeat>
                        </tr>
                    </thead>
                    <tbody>
                        <ui:repeat value="#{controller.sites}" var="site" varStatus="rowStatus">
                            <h:panelGroup rendered="#{rowStatus.odd}" >
                                <tr class="odd-row">
                                    <td><h:outputText value="#{site.name}" /></td>
                                    <td><h:outputText value="#{site.siteID}" /></td>
                                    <td><h:outputText value="#{site.status}" /></td>
                                    <td style="text-align: center"><h:outputText value="#{site.enrolledParticipantsCount}" /></td>
                                    <ui:repeat value="#{controller.eventStatus}" var="estatus" >
                                        <td style="text-align: center"><h:outputText value="#{controller.getSiteEventCount(site, estatus)}" /></td>
                                    </ui:repeat>
                                    <td>
                                        <h:commandButton value="View" action="#{controller.viewSiteAction(site)}"/>
                                    </td>
                                </tr>
                            </h:panelGroup>
                            <h:panelGroup rendered="#{rowStatus.even}" >
                                <tr class="even-row">
                                    <td><h:outputText value="#{site.name}" /></td>
                                    <td><h:outputText value="#{site.siteID}" /></td>
                                    <td><h:outputText value="#{site.status}" /></td>
                                    <td style="text-align: center"><h:outputText value="#{site.enrolledParticipantsCount}" /></td>
                                    <ui:repeat value="#{controller.eventStatus}" var="estatus" >
                                        <td style="text-align: center"><h:outputText value="#{controller.getSiteEventCount(site, estatus)}" /></td>
                                    </ui:repeat>
                                    <td>
                                        <h:commandButton value="View" action="#{controller.viewSiteAction(site)}"/>
                                    </td>
                                </tr>
                            </h:panelGroup>
                        </ui:repeat>
                    </tbody>
                </table>
                        </div>
                    </p:tab>

                    <p:tab title="Advanced View">
                        <div id="newtable">
                            <p:dataTable var="site" value="#{controller.sites}" tableStyle="width:auto" widgetVar="sitesTable">
                                <p:column headerText="Site Name" sortBy="#{site.name}" filterBy="#{site.name}" filterMatchMode="contains">
                                    <h:commandLink value="#{site.name}" action="#{controller.viewSite(site.name)}" />
                                </p:column>

                                <p:column headerText="Site ID" sortBy="#{site.siteID}" filterBy="#{site.siteID}" filterMatchMode="contains">
                                    <h:outputText value="#{site.siteID}"/>
                                </p:column>

                                <p:column headerText="Enrolling Status" sortBy="#{site.status}">
                                        <h:outputText value="#{site.status}"/>
                                </p:column>

                                <p:column headerText="Participant Count" sortBy="#{site.enrolledParticipantsCount}">
                                    <h:outputText value="#{site.enrolledParticipantsCount}"/>
                                </p:column>


                                <p:column headerText="New" sortBy="#{controller.getSiteEventCount(site, controller.newStatus)}">
                                    <h:outputText style="text-align: center;" value="#{controller.getSiteEventCount(site, controller.newStatus)}" />
                                </p:column>

                                <p:column headerText="Started" sortBy="#{controller.getSiteEventCount(site, controller.started)}">
                                    <h:outputText style="text-align: center;" value="#{controller.getSiteEventCount(site, controller.started)}" />
                                </p:column>

                                <p:column headerText="Submitted" sortBy="#{controller.getSiteEventCount(site, controller.submitted)}">
                                    <h:outputText style="text-align: center;" value="#{controller.getSiteEventCount(site, controller.submitted)}" />
                                </p:column>

                                <p:column headerText="CRF Query" sortBy="#{controller.getSiteEventCount(site, controller.crfquery)}">
                                    <h:outputText style="text-align: center;" value="#{controller.getSiteEventCount(site, controller.crfquery)}" />
                                </p:column>

                                <p:column headerText="DCC Verified" sortBy="#{controller.getSiteEventCount(site, controller.dccverified)}">
                                    <h:outputText style="text-align: center;" value="#{controller.getSiteEventCount(site, controller.dccverified)}" />
                                </p:column>

                                <p:column headerText="PI Approved" sortBy="#{controller.getSiteEventCount(site, controller.piapproved)}">
                                    <h:outputText style="text-align: center;" value="#{controller.getSiteEventCount(site, controller.piapproved)}" />
                                </p:column>

                                <p:column headerText="Not Required" sortBy="#{controller.getSiteEventCount(site, controller.notrequired)}">
                                    <h:outputText style="text-align: center;" value="#{controller.getSiteEventCount(site, controller.notrequired)}" />
                                </p:column>
                                
                                <p:column headerText="Not Applicable" sortBy="#{controller.getSiteEventCount(site, controller.notapplicable)}">
                                    <h:outputText style="text-align: center;" value="#{controller.getSiteEventCount(site, controller.notapplicable)}" />
                                </p:column>

                                <p:column headerText="Missed Visit" sortBy="#{controller.getSiteEventCount(site, controller.missedvisit)}">
                                    <h:outputText style="text-align: center;" value="#{controller.getSiteEventCount(site, controller.missedvisit)}" />
                                </p:column>
                            </p:dataTable>
                            <p:remoteCommand autoRun="true" oncomplete="PF('sitesTable').filter();" />
                        </div> 
                    </p:tab>
                </p:tabView> 
                <br/><br/>

                <h:commandButton value="Add Site" action="${controller.editSiteAction()}" >
                    <f:param name="siteId" value="-1" />
                </h:commandButton>
            </h:form>
        </ui:define>
    </ui:composition>
    
</html>
