<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://java.sun.com/jsp/jstl/core">

<!--
    NOTE: This Annual FollowUp CRF is not complete.  It still needs more work.
-->
    <ui:composition template="./formTemplate.xhtml">
        <ui:define name="form_title">
            
            <h:outputStylesheet library="css" name="ecpregistry.css" />
            
            <div id="#{controller.style.header}">
                <h3>Extracorporeal Photopheresis (ECP) for the Management of Progressive Bronchiolitis Obliterans Syndrome (BOS) in Medicare-Eligible Recipients of Lung Allografts</h3>
                <h2>ANNUAL FOLLOW-UP - Year #{controller.annualFollowUpCurrentYear} - Case Report Form (CRF)</h2>
            </div>
            <div>
                <h2>Please include the following types of source documents:</h2>
                <div>
                <b>1. ECP Treatment Source Packet</b><br/>
                <b>&nbsp;&nbsp;&nbsp;&nbsp;a. ECP Report or Procedure Note</b><br/>
                <b>&nbsp;&nbsp;&nbsp;&nbsp;b. CBC with Diff</b><br/>
                <b>&nbsp;&nbsp;&nbsp;&nbsp;c. Appendix 4 or ECP Pre-Procedure Assessment Form</b><br/>
                <b>&nbsp;&nbsp;&nbsp;&nbsp;d. Progress note or Clinic note describing a Complication or Adverse Event (If Applicable)</b><br/>
                <br/>
                <b>DIRECTIONS: De-Identified ECP Treatment Source documents should be scanned together by date into one PDF.<br/>
                   The uploaded PDF should be titled: ECP Treatment NUMBER followed by the DATE of the ECP Treatment, for example: ECPTreatment30_8-1-2020.pdf.<br/>
                   &nbsp;&nbsp;&nbsp;&nbsp;a. Add the Date to the list below.<br/>
                   &nbsp;&nbsp;&nbsp;&nbsp;b. Click the SAVE Button.<br/>
                   &nbsp;&nbsp;&nbsp;&nbsp;c. Upload the Source.
                </b>
                </div>
            </div>

        </ui:define>
       
        <ui:define name="form_content">
            <!--<div id="crfcenterparticipantidsdate">
                <div>
                <b>Date of Annual Follow Up: </b>
                <p:calendar id="annualFollowUpDate" class="calendar" value="#{controller.annualFollowUpForm.annualFollowUpDate}" requiredMessage="#{msgs.annualFollowUpDate}" disabled="#{controller.annualFollowUpForm.locked}" mode="popup" showOn="button" showButtonPanel="false" pattern="MM/dd/yyyy" navigator="true" size="10" converter="strictDateTimeConverter">
                    <f:validateRequired disabled="{!param['VALIDATE']}" /> --> <!-- The value for the param variable VALIDATE is determined in the formTemplate.xhtml file under c:if test -->
            <!--    </p:calendar>                
                </div>
            </div>
            <p:message for="annualFollowUpDate" />
            <br/>-->
            
            <div>
                <div class="question-inputText-wide">
                    <h:panelGrid columns="2" >
                        <h:outputLabel class="question-inputText" value="1. Did the participant receive maintenance ECP Treatments in Year #{controller.annualFollowUpCurrentYear}? (Year #{controller.annualFollowUpCurrentYear} begins #{controller.annualFollowUpPreviousYear} after the date of Enrollment) " />
                        <h:selectOneRadio id="ques1" class="yesnoanswers" requiredMessage="#{msgs.annualFollowUpReceivingECPTx}" value="#{controller.annualFollowUpForm.annualFollowUpReceivingECPTx}" disabled="#{controller.annualFollowUpForm.locked}" style="display: inline-table;">
                            <f:selectItem itemValue="true" itemLabel="YES"/>
                            <f:selectItem itemValue="false" itemLabel="NO" /> 
                            <f:selectItem itemValue="na" itemLabel="N/A" />
                            <f:validateRequired disabled="#{!param['VALIDATE']}" />
                        </h:selectOneRadio>
                    </h:panelGrid>
                </div>
                <p:message for="ques1" />

                
                <div class="question-inputText">
                    <b>2. Please list the dates of the ECP treatments in Year #{controller.annualFollowUpCurrentYear}. Reminder, dates may be added to this CRF throughout the year. Once added CLICK the SAVE button and upload source.</b>
                </div>
                
                <c:forEach var="txDate" items="${controller.annualFollowUpForm.followUpTxDates}" varStatus="status">
                    <div class="question-inputText">
                        ${status.index + 1}. <p:calendar id="annualFollowUpECPTxDate${status.index}" class="calendar" value="#{txDate}" disabled="#{controller.annualFollowUpForm.locked}" mode="popup" showOn="button" pattern="MM/dd/yyyy" navigator="true" size="10"  converter="strictDateTimeConverter" />
                    </div>
                </c:forEach>
                <div class="question-inputText">
                    <h:commandButton value="More Treatment Dates" action="#{controller.annualFollowUpForm.moreTxDatesAction}" />
                </div>

                <h:panelGroup rendered="#{controller.renderVerificationPanel('annualFollowUpECPTxDate1')}">
                    <div class="selectVerificationStatusIndented">
                        <h:outputLabel value="Q2: VERIFICATION STATUS " rendered="true"/>
                        <h:selectOneMenu id="ques2" value="#{controller.annualFollowUpForm.annualFollowUpECPTxDate1VerificationStatus}" rendered="true">
                            <f:selectItems value="#{controller.annualFollowUpForm.verificationTypes}" var="v" itemValue="#{v}" itemLabel="#{v.name}"/>
                        </h:selectOneMenu>
                    </div>
                    <div class="selectVerificationStatusIndented">
                        <h:outputText value="DCC Query Comment: " rendered="true" />
                        <h:inputTextarea value="#{controller.annualFollowUpForm.annualFollowUpECPTxDate1DccComment}" rows="1" cols="50" rendered="true" /> 
                    </div>
                </h:panelGroup>
                
     
                <div class="question-inputText">
                    <b>3. PFTs collected in Year #{controller.annualFollowUpCurrentYear} are entered on separate CRFs.</b><br/>
                    <b>&nbsp;&nbsp;&nbsp;&nbsp;PFTs are scheduled every two months after Year One.</b><br/>
                    <b>&nbsp;&nbsp;&nbsp;&nbsp;Include PFTs collected at facilities other than the enrolling site.</b><br/>
                    <b>&nbsp;&nbsp;&nbsp;&nbsp;a. Please click the "ADD NEW EVENT" Button on the Participant Summary Page.</b><br/>
                    <b>&nbsp;&nbsp;&nbsp;&nbsp;b. Select Pulmonary Evaluation from the Pop-Up Box and CLICK SUBMIT.</b>
                </div>

                <br/>
            </div>
            
        </ui:define>
    </ui:composition>

</html>
