<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    
    <ui:composition template="./formTemplate.xhtml">
        <ui:define name="form_title">
            <h:outputStylesheet library="css" name="ecpregistry.css" />
            <div id="#{controller.style.header}">
                <h3>Extracorporeal Photopheresis (ECP) for the Management of Progressive Bronchiolitis Obliterans Syndrome (BOS) in Medicare-Eligible Recipients of Lung Allografts</h3>
                <h2>CURRENT THERAPY - Case Report Form (CRF)</h2>
                <div>
                    <h2><center><h:outputText value="#{controller.selectedForm.title}" /></center></h2>
                </div>
            </div>
	    <div>
                <h2>Please include the following types of source documents:</h2>
                <div>
                <b>1. Clinic or Progress Note and/or Medication Record</b>
                </div>
            </div>
        </ui:define>
       
        <ui:define name="form_content">
            <h:panelGroup id="changeOfTherapyForm" >
                <div id="crfcenterparticipantidsdate">
                    <div>
                    <b>Current Therapy Date: </b>
                    <p:calendar id="currentTherapyDate" class="calendar" value="#{controller.currentTherapyForm.currentTherapyDate}" requiredMessage="#{msgs.currentTherapyDate}" disabled="#{controller.currentTherapyForm.locked}" mode="popup" showOn="button" pattern="MM/dd/yyyy" navigator="true" size="10" converter="strictDateTimeConverter" >
                        <f:validateRequired disabled="#{!param['VALIDATE']}" />  <!-- The value for the param variable VALIDATE is determined in the formTemplate.xhtml file under c:if test -->
                        <p:ajax event="dateSelect" update="@form" process="@form" /> 
                    </p:calendar>
                    </div>
                </div>

                <p:message for="currentTherapyDate" />
                
                <h:panelGroup rendered="#{controller.renderVerificationPanel('currentTherapyDate')}">
                    <div class="selectVerificationStatusIndented">
                        <h:outputLabel value="Current Therapy Date: VERIFICATION STATUS " rendered="true"/>
                        <h:selectOneMenu id="verifyType1" value="#{controller.currentTherapyForm.currentTherapyDateVerificationStatus}" rendered="true">
                            <f:selectItems value="#{controller.currentTherapyForm.verificationTypes}" var="v" itemValue="#{v}" itemLabel="#{v.name}"/>
                        </h:selectOneMenu>
                    </div>
                    <div class="selectVerificationStatusIndented">
                        <h:outputText value="DCC Query Comment: " rendered="true" />
                        <h:inputTextarea value="#{controller.currentTherapyForm.currentTherapyDateDccComment}" rows="1" cols="50" rendered="true" /> 
                    </div>
                </h:panelGroup>
                <br/>

                <div class="question-inputText-immunodrug">
                    <b>1. Check all immunosuppressive drugs that are <u>currently being used</u> by the participant: </b>
                </div>
                <div class="answer-radioButton">
                    <h:panelGrid columns="5" >
                        <h:selectOneRadio id="tacrolimus" class="yesnoanswers" requiredMessage="#{msgs.tacrolimusCurrent}" value="#{controller.currentTherapyForm.tacrolimusCurrent}" disabled="#{controller.currentTherapyForm.locked}" style="display: inline-table;">
                            <f:selectItem itemValue="true" itemLabel="YES"/>
                            <f:selectItem itemValue="false" itemLabel="NO" /> 
                            <f:validateRequired disabled="#{!param['VALIDATE']}" />  <!-- The value for the param variable VALIDATE is determined in the formTemplate.xhtml file under c:if test -->
                        </h:selectOneRadio>
                        <h:outputLabel class="yesno-questions2" value="Tacrolimus" />
                    </h:panelGrid>

                </div>
                <p:message for="tacrolimus" />
                
                <h:panelGroup rendered="#{controller.renderVerificationPanel('tacrolimusCurrent')}">
                    <div class="selectVerificationStatusIndented">
                        <h:outputLabel value="Tacrolimus Current: VERIFICATION STATUS " rendered="true"/>
                        <h:selectOneMenu id="verifyType2" value="#{controller.currentTherapyForm.tacrolimusCurrentVerificationStatus}" rendered="true">
                            <f:selectItems value="#{controller.currentTherapyForm.verificationTypes}" var="v" itemValue="#{v}" itemLabel="#{v.name}"/>
                        </h:selectOneMenu>
                    </div>
                    <div class="selectVerificationStatusIndented">
                        <h:outputText value="DCC Query Comment: " rendered="true" />
                        <h:inputTextarea value="#{controller.currentTherapyForm.tacrolimusCurrentDccComment}" rows="1" cols="50" rendered="true" /> 
                    </div>
                </h:panelGroup>

                <div class="answer-radioButton">
                    <h:panelGrid columns="4" >
                        <h:selectOneRadio id="alemtuzumab" class="yesnoanswers" requiredMessage="#{msgs.alemtuzumabCurrent}" value="#{controller.currentTherapyForm.alemtuzumabCurrent}" disabled="#{controller.currentTherapyForm.locked}" style="display: inline-table;">
                            <f:selectItem itemValue="true" itemLabel="YES"/>
                            <f:selectItem itemValue="false" itemLabel="NO" /> 
                            <f:validateRequired disabled="#{!param['VALIDATE']}" />
                        </h:selectOneRadio>
                        <h:outputLabel class="yesno-questions2" value="Alemtuzumab" />
                    </h:panelGrid>
                </div>
                <p:message for="alemtuzumab" />
                
                <h:panelGroup rendered="#{controller.renderVerificationPanel('alemtuzumabCurrent')}">
                    <div class="selectVerificationStatusIndented">
                        <h:outputLabel value="Alemtuzumab Current: VERIFICATION STATUS " rendered="true"/>
                        <h:selectOneMenu id="verifyType4" value="#{controller.currentTherapyForm.alemtuzumabCurrentVerificationStatus}" rendered="true">
                            <f:selectItems value="#{controller.currentTherapyForm.verificationTypes}" var="v" itemValue="#{v}" itemLabel="#{v.name}"/>
                        </h:selectOneMenu>
                    </div>
                    <div class="selectVerificationStatusIndented">
                        <h:outputText value="DCC Query Comment: " rendered="true" />
                        <h:inputTextarea value="#{controller.currentTherapyForm.alemtuzumabCurrentDccComment}" rows="1" cols="50" rendered="true" /> 
                    </div>
                </h:panelGroup>

                <div class="answer-radioButton">
                    <h:panelGrid columns="4" >
                        <h:selectOneRadio id="sirolimus" class="yesnoanswers" requiredMessage="#{msgs.sirolimusCurrent}" value="#{controller.currentTherapyForm.sirolimusCurrent}" disabled="#{controller.currentTherapyForm.locked}" style="display: inline-table;">
                            <f:selectItem itemValue="true" itemLabel="YES"/>
                            <f:selectItem itemValue="false" itemLabel="NO" /> 
                            <f:validateRequired disabled="#{!param['VALIDATE']}" />  <!-- The value for the param variable VALIDATE is determined in the formTemplate.xhtml file under c:if test -->
                        </h:selectOneRadio>
                        <h:outputLabel class="yesno-questions2" value="Sirolimus (Rapamycin)" />
                    </h:panelGrid>

                </div>
                <p:message for="sirolimus" />
                
                <h:panelGroup rendered="#{controller.renderVerificationPanel('sirolimusCurrent')}">
                    <div class="selectVerificationStatusIndented">
                        <h:outputLabel value="Sirolimus Current: VERIFICATION STATUS " rendered="true"/>
                        <h:selectOneMenu id="verifyType6" value="#{controller.currentTherapyForm.sirolimusCurrentVerificationStatus}" rendered="true">
                            <f:selectItems value="#{controller.currentTherapyForm.verificationTypes}" var="v" itemValue="#{v}" itemLabel="#{v.name}"/>
                        </h:selectOneMenu>
                    </div>
                    <div class="selectVerificationStatusIndented">
                        <h:outputText value="DCC Query Comment: " rendered="true" />
                        <h:inputTextarea value="#{controller.currentTherapyForm.sirolimusCurrentDccComment}" rows="1" cols="50" rendered="true" /> 
                    </div>
                </h:panelGroup>

                <div class="answer-radioButton">
                    <h:panelGrid columns="4" >
                        <h:selectOneRadio id="everolimus" class="yesnoanswers" requiredMessage="#{msgs.everolimusCurrent}" value="#{controller.currentTherapyForm.everolimusCurrent}" disabled="#{controller.currentTherapyForm.locked}" style="display: inline-table;">
                            <f:selectItem itemValue="true" itemLabel="YES"/>
                            <f:selectItem itemValue="false" itemLabel="NO" /> 
                            <f:validateRequired disabled="#{!param['VALIDATE']}" />
                        </h:selectOneRadio>
                        <h:outputLabel class="yesno-questions2" value="Everolimus" />
                    </h:panelGrid>

                </div>
                <p:message for="everolimus" />
                
                <h:panelGroup rendered="#{controller.renderVerificationPanel('everolimusCurrent')}">
                    <div class="selectVerificationStatusIndented">
                        <h:outputLabel value="Everolimus Current: VERIFICATION STATUS " rendered="true"/>
                        <h:selectOneMenu id="verifyType8" value="#{controller.currentTherapyForm.everolimusCurrentVerificationStatus}" rendered="true">
                            <f:selectItems value="#{controller.currentTherapyForm.verificationTypes}" var="v" itemValue="#{v}" itemLabel="#{v.name}"/>
                        </h:selectOneMenu>
                    </div>
                    <div class="selectVerificationStatusIndented">
                        <h:outputText value="DCC Query Comment: " rendered="true" />
                        <h:inputTextarea value="#{controller.currentTherapyForm.everolimusCurrentDccComment}" rows="1" cols="50" rendered="true" /> 
                    </div>
                </h:panelGroup>

                <div class="answer-radioButton">
                    <h:panelGrid columns="4" >
                        <h:selectOneRadio id="azathioprine" class="yesnoanswers" requiredMessage="#{msgs.azathioprineCurrent}" value="#{controller.currentTherapyForm.azathioprineCurrent}" disabled="#{controller.currentTherapyForm.locked}" style="display: inline-table;">
                            <f:selectItem itemValue="true" itemLabel="YES"/>
                            <f:selectItem itemValue="false" itemLabel="NO" /> 
                            <f:validateRequired disabled="#{!param['VALIDATE']}" />
                        </h:selectOneRadio>
                        <h:outputLabel class="yesno-questions2" value="Azathioprine" />
                    </h:panelGrid>

                </div>
                <p:message for="azathioprine" />
                
                <h:panelGroup rendered="#{controller.renderVerificationPanel('azathioprineCurrent')}">
                    <div class="selectVerificationStatusIndented">
                        <h:outputLabel value="Azathioprine Current: VERIFICATION STATUS " rendered="true"/>
                        <h:selectOneMenu id="verifyType10" value="#{controller.currentTherapyForm.azathioprineCurrentVerificationStatus}" rendered="true">
                            <f:selectItems value="#{controller.currentTherapyForm.verificationTypes}" var="v" itemValue="#{v}" itemLabel="#{v.name}"/>
                        </h:selectOneMenu>
                    </div>
                    <div class="selectVerificationStatusIndented">
                        <h:outputText value="DCC Query Comment: " rendered="true" />
                        <h:inputTextarea value="#{controller.currentTherapyForm.azathioprineCurrentDccComment}" rows="1" cols="50" rendered="true" /> 
                    </div>
                </h:panelGroup>

                <div class="answer-radioButton">
                    <h:panelGrid columns="4" >
                        <h:selectOneRadio id="cyclosporineA" class="yesnoanswers" requiredMessage="#{msgs.cyclosporineACurrent}" value="#{controller.currentTherapyForm.cyclosporineACurrent}" disabled="#{controller.currentTherapyForm.locked}" style="display: inline-table;">
                            <f:selectItem itemValue="true" itemLabel="YES"/>
                            <f:selectItem itemValue="false" itemLabel="NO" /> 
                            <f:validateRequired disabled="#{!param['VALIDATE']}" />
                        </h:selectOneRadio>
                        <h:outputLabel class="yesno-questions2" value="Cyclosporine A" />
                    </h:panelGrid>

                </div>
                <p:message for="cyclosporineA" />
                
                <h:panelGroup rendered="#{controller.renderVerificationPanel('cyclosporineACurrent')}">
                    <div class="selectVerificationStatusIndented">
                        <h:outputLabel value="Cyclosporine A Current: VERIFICATION STATUS " rendered="true"/>
                        <h:selectOneMenu id="verifyType12" value="#{controller.currentTherapyForm.cyclosporineACurrentVerificationStatus}" rendered="true">
                            <f:selectItems value="#{controller.currentTherapyForm.verificationTypes}" var="v" itemValue="#{v}" itemLabel="#{v.name}"/>
                        </h:selectOneMenu>
                    </div>
                    <div class="selectVerificationStatusIndented">
                        <h:outputText value="DCC Query Comment: " rendered="true" />
                        <h:inputTextarea value="#{controller.currentTherapyForm.cyclosporineACurrentDccComment}" rows="1" cols="50" rendered="true" /> 
                    </div>
                </h:panelGroup>

                <div class="answer-radioButton">
                    <h:panelGrid columns="4" >
                        <h:selectOneRadio id="methotrexate" class="yesnoanswers" requiredMessage="#{msgs.methotrexateCurrent}" value="#{controller.currentTherapyForm.methotrexateCurrent}" disabled="#{controller.currentTherapyForm.locked}" style="display: inline-table;">
                            <f:selectItem itemValue="true" itemLabel="YES"/>
                            <f:selectItem itemValue="false" itemLabel="NO" /> 
                            <f:validateRequired disabled="#{!param['VALIDATE']}" />
                        </h:selectOneRadio>
                        <h:outputLabel class="yesno-questions2" value="Methotrexate" />
                    </h:panelGrid>

                </div>
                <p:message for="methotrexate" />
                
                <h:panelGroup rendered="#{controller.renderVerificationPanel('methotrexateCurrent')}">
                    <div class="selectVerificationStatusIndented">
                        <h:outputLabel value="Methotrexate Current: VERIFICATION STATUS " rendered="true"/>
                        <h:selectOneMenu id="verifyType14" value="#{controller.currentTherapyForm.methotrexateCurrentVerificationStatus}" rendered="true">
                            <f:selectItems value="#{controller.currentTherapyForm.verificationTypes}" var="v" itemValue="#{v}" itemLabel="#{v.name}"/>
                        </h:selectOneMenu>
                    </div>
                    <div class="selectVerificationStatusIndented">
                        <h:outputText value="DCC Query Comment: " rendered="true" />
                        <h:inputTextarea value="#{controller.currentTherapyForm.methotrexateCurrentDccComment}" rows="1" cols="50" rendered="true" /> 
                    </div>
                </h:panelGroup>

                <div class="answer-radioButton">
                    <h:panelGrid columns="4" >
                        <h:selectOneRadio id="macrolideAntibiotic" class="yesnoanswers" requiredMessage="#{msgs.macrolideAntibioticCurrent}" value="#{controller.currentTherapyForm.macrolideAntibioticCurrent}" disabled="#{controller.currentTherapyForm.locked}" style="display: inline-table;">
                            <f:selectItem itemValue="true" itemLabel="YES"/>
                            <f:selectItem itemValue="false" itemLabel="NO" /> 
                            <f:validateRequired disabled="#{!param['VALIDATE']}" />
                        </h:selectOneRadio>
                        <h:outputLabel class="yesno-questions2" value="Macrolide Antibiotic, Azithromycin" />
                    </h:panelGrid>

                </div>
                <p:message for="macrolideAntibiotic" />
                
                <h:panelGroup rendered="#{controller.renderVerificationPanel('macrolideAntibioticCurrent')}">
                    <div class="selectVerificationStatusIndented">
                        <h:outputLabel value="Macrolide Antibiotic Current: VERIFICATION STATUS " rendered="true"/>
                        <h:selectOneMenu id="verifyType16" value="#{controller.currentTherapyForm.macrolideAntibioticCurrentVerificationStatus}" rendered="true">
                            <f:selectItems value="#{controller.currentTherapyForm.verificationTypes}" var="v" itemValue="#{v}" itemLabel="#{v.name}"/>
                        </h:selectOneMenu>
                    </div>
                    <div class="selectVerificationStatusIndented">
                        <h:outputText value="DCC Query Comment: " rendered="true" />
                        <h:inputTextarea value="#{controller.currentTherapyForm.macrolideAntibioticCurrentDccComment}" rows="1" cols="50" rendered="true" /> 
                    </div>
                </h:panelGroup>

                <div class="answer-radioButton">
                    <h:panelGrid columns="4" >
                        <h:selectOneRadio id="mycophenolateMofetil" class="yesnoanswers" requiredMessage="#{msgs.mycophenolateMofetilCurrent}" value="#{controller.currentTherapyForm.mycophenolateMofetilCurrent}" disabled="#{controller.currentTherapyForm.locked}" style="display: inline-table;">
                            <f:selectItem itemValue="true" itemLabel="YES"/>
                            <f:selectItem itemValue="false" itemLabel="NO" /> 
                            <f:validateRequired disabled="#{!param['VALIDATE']}" />
                        </h:selectOneRadio>
                        <h:outputLabel class="yesno-questions2" value="Mycophenolate Mofetil (Cellcept or Myfortic)" />
                    </h:panelGrid>

                </div>
                <p:message for="mycophenolateMofetil" />
                
                <h:panelGroup rendered="#{controller.renderVerificationPanel('mycophenolateMofetilCurrent')}">
                    <div class="selectVerificationStatusIndented">
                        <h:outputLabel value="Mycophenolate Mofetil Current: VERIFICATION STATUS " rendered="true"/>
                        <h:selectOneMenu id="verifyType18" value="#{controller.currentTherapyForm.mycophenolateMofetilCurrentVerificationStatus}" rendered="true">
                            <f:selectItems value="#{controller.currentTherapyForm.verificationTypes}" var="v" itemValue="#{v}" itemLabel="#{v.name}"/>
                        </h:selectOneMenu>
                    </div>
                    <div class="selectVerificationStatusIndented">
                        <h:outputText value="DCC Query Comment: " rendered="true" />
                        <h:inputTextarea value="#{controller.currentTherapyForm.mycophenolateMofetilCurrentDccComment}" rows="1" cols="50" rendered="true" /> 
                    </div>
                </h:panelGroup>

                <div class="answer-radioButton">
                    <h:panelGrid columns="4" >
                        <h:selectOneRadio id="antiThymocyteGlobulin" class="yesnoanswers" requiredMessage="#{msgs.antiThymocyteGlobulinCurrent}" value="#{controller.currentTherapyForm.antiThymocyteGlobulinCurrent}" disabled="#{controller.currentTherapyForm.locked}" style="display: inline-table;">
                            <f:selectItem itemValue="true" itemLabel="YES"/>
                            <f:selectItem itemValue="false" itemLabel="NO" /> 
                            <f:validateRequired disabled="#{!param['VALIDATE']}" />
                        </h:selectOneRadio>
                        <h:outputLabel class="yesno-questions2" value="Anti-Thymocyte Globulin - ATG (Thymoglobulin or Atgam)" />
                    </h:panelGrid>

                </div>
                <p:message for="antiThymocyteGlobulin" />

                <h:panelGroup rendered="#{controller.renderVerificationPanel('antiThymocyteGlobulinCurrent')}">
                    <div class="selectVerificationStatusIndented">
                        <h:outputLabel value="Anti Thymocyte Globulin Current: VERIFICATION STATUS " rendered="true"/>
                        <h:selectOneMenu id="verifyType20" value="#{controller.currentTherapyForm.antiThymocyteGlobulinCurrentVerificationStatus}" rendered="true">
                            <f:selectItems value="#{controller.currentTherapyForm.verificationTypes}" var="v" itemValue="#{v}" itemLabel="#{v.name}"/>
                        </h:selectOneMenu>
                    </div>
                    <div class="selectVerificationStatusIndented">
                        <h:outputText value="DCC Query Comment: " rendered="true" />
                        <h:inputTextarea value="#{controller.currentTherapyForm.antiThymocyteGlobulinCurrentDccComment}" rows="1" cols="50" rendered="true" /> 
                    </div>
                </h:panelGroup>
                
                <div class="answer-radioButton">
                    <h:panelGrid columns="2" >
                        <h:selectOneRadio id="ques1m" class="yesnoanswers" requiredMessage="#{msgs.totalLymphoidIrradiationCurrent}" value="#{controller.currentTherapyForm.totalLymphoidIrradiationCurrent}" disabled="#{controller.currentTherapyForm.locked}" style="display: inline-table;">
                            <f:selectItem itemValue="true" itemLabel="YES"/>
                            <f:selectItem itemValue="false" itemLabel="NO" /> 
                            <f:validateRequired disabled="#{!param['VALIDATE']}" />
                        </h:selectOneRadio>
                        <h:outputLabel class="yesno-questions" value="Total Lymphoid Irradiation" />
                    </h:panelGrid>
                </div>
                <p:message for="ques1m" />
                
                <h:panelGroup rendered="#{controller.renderVerificationPanel('totalLymphoidIrradiationCurrent')}">
                    <div class="selectVerificationStatusIndented">
                        <h:outputLabel value="Total Lymphoid Irradiation Current: VERIFICATION STATUS " rendered="true"/>
                        <h:selectOneMenu id="verifyType22" value="#{controller.currentTherapyForm.totalLymphoidIrradiationCurrentVerificationStatus}" rendered="true">
                            <f:selectItems value="#{controller.currentTherapyForm.verificationTypes}" var="v" itemValue="#{v}" itemLabel="#{v.name}"/>
                        </h:selectOneMenu>
                    </div>
                    <div class="selectVerificationStatusIndented">
                        <h:outputText value="DCC Query Comment: " rendered="true" />
                        <h:inputTextarea value="#{controller.currentTherapyForm.totalLymphoidIrradiationCurrentDccComment}" rows="1" cols="50" rendered="true" /> 
                    </div>
                </h:panelGroup>

                <div class="answer-radioButton">
                    <h:panelGrid columns="4" >
                        <h:selectOneRadio id="otherDrugs" class="yesnoanswers" value="#{controller.currentTherapyForm.otherDrugsCurrent}" disabled="#{controller.currentTherapyForm.locked}" style="display: inline-table;">
                            <f:selectItem itemValue="true" itemLabel="YES"/>
                            <f:selectItem itemValue="false" itemLabel="NO" /> 
                            <f:validateRequired disabled="#{!param['VALIDATE']}" />
                        </h:selectOneRadio>
                        <h:outputLabel class="yesno-questions2" value="Other Drug(s)" />
                    </h:panelGrid>
                </div>
                <div>
                    <h:panelGrid style="margin-left:203px; width: 450px;">
                        <h:outputLabel style="font-weight: bold; border: 0px solid black;" value="If YES for Other Drug(s), please provide the drug name(s) and whether the dosage went up or down: " />
                    </h:panelGrid>
                    <h:panelGrid >
                        <h:inputTextarea style="margin-left:203px;" value="#{controller.currentTherapyForm.otherDrugNamesCurrent}" cols="60" rows="2" disabled="#{controller.currentTherapyForm.locked || controller.currentTherapyForm.otherDrugsCurrent == false}"/>
                    </h:panelGrid>
                </div>

		<h:panelGroup rendered="#{controller.renderVerificationPanel('otherDrugNamesCurrent')}">
                    <div class="selectVerificationStatusIndented">
                        <h:outputLabel value="Other Drug Names Current: VERIFICATION STATUS " rendered="true"/>
                        <h:selectOneMenu id="verifyType24" value="#{controller.currentTherapyForm.otherDrugNamesCurrentVerificationStatus}" rendered="true">
                            <f:selectItems value="#{controller.currentTherapyForm.verificationTypes}" var="v" itemValue="#{v}" itemLabel="#{v.name}"/>
                        </h:selectOneMenu>
                    </div>
                    <div class="selectVerificationStatusIndented">
                        <h:outputText value="DCC Query Comment: " rendered="true" />
                        <h:inputTextarea value="#{controller.currentTherapyForm.otherDrugNamesCurrentDccComment}" rows="1" cols="50" rendered="true" /> 
                    </div>
                </h:panelGroup>
                
                <div class="treatment-parameters">
                    <h:panelGrid columns="2" >
                        <h:outputLabel class="treatment-parameters-questions" value="2. Is the patient taking prednisone?" />
                        <h:selectOneRadio id="ques1bprednisone" class="yesnoanswers" requiredMessage="#{msgs.prednisoneCurrent}" value="#{controller.currentTherapyForm.prednisoneCurrent}" disabled="#{controller.currentTherapyForm.locked}" style="display: inline-table;">
                            <f:selectItem itemValue="true" itemLabel="YES"/>
                            <f:selectItem itemValue="false" itemLabel="NO" /> 
                            <f:validateRequired disabled="#{!param['VALIDATE']}" />  <!-- The value for the param variable VALIDATE is determined in the formTemplate.xhtml file under c:if test -->
                        </h:selectOneRadio>
                    </h:panelGrid>
                </div>
                <div class="question-inputText-other">
                    <b>A. If yes, enter daily dose: </b>
                    <h:inputText id="ques1bDose" value="#{controller.currentTherapyForm.prednisoneCurrentDosage}" disabled="#{controller.currentTherapyForm.locked || controller.currentTherapyForm.prednisoneCurrent == false}" size="4" validatorMessage="Validation Error: Prednisone dose ranges between 0 and 150 mg.">
                        <f:validateLongRange minimum="0" maximum ="150"/>
                    </h:inputText>
                    <b> mg (input range: 0-150)</b>
                    <p:message for="ques1bDose" />
                </div>
                <p:message for="ques1bprednisone" />
                
                <h:panelGroup rendered="#{controller.renderVerificationPanel('prednisoneCurrent')}">
                    <div class="selectVerificationStatusIndented">
                        <h:outputLabel value="Prednisone Current: VERIFICATION STATUS " rendered="true"/>
                        <h:selectOneMenu id="verifyType25" value="#{controller.currentTherapyForm.prednisoneCurrentVerificationStatus}" rendered="true">
                            <f:selectItems value="#{controller.currentTherapyForm.verificationTypes}" var="v" itemValue="#{v}" itemLabel="#{v.name}"/>
                        </h:selectOneMenu>
                    </div>
                    <div class="selectVerificationStatusIndented">
                        <h:outputText value="DCC Query Comment: " rendered="true" />
                        <h:inputTextarea value="#{controller.currentTherapyForm.prednisoneCurrentDccComment}" rows="1" cols="50" rendered="true" /> 
                    </div>
                </h:panelGroup>
                
                <h:panelGroup rendered="#{controller.renderVerificationPanel('prednisoneCurrentDosage')}">
                    <div class="selectVerificationStatusIndented">
                        <h:outputLabel value="Prednisone Current Dosage: VERIFICATION STATUS " rendered="true"/>
                        <h:selectOneMenu id="verifyType26" value="#{controller.currentTherapyForm.prednisoneCurrentDosageVerificationStatus}" rendered="true">
                            <f:selectItems value="#{controller.currentTherapyForm.verificationTypes}" var="v" itemValue="#{v}" itemLabel="#{v.name}"/>
                        </h:selectOneMenu>
                    </div>
                    <div class="selectVerificationStatusIndented">
                        <h:outputText value="DCC Query Comment: " rendered="true" />
                        <h:inputTextarea value="#{controller.currentTherapyForm.prednisoneCurrentDosageDccComment}" rows="1" cols="50" rendered="true" /> 
                    </div>
                </h:panelGroup>

                <div class="treatment-parameters">
                    <h:panelGrid columns="2" >
                        <h:outputLabel class="treatment-parameters-questions" value="3. Is the participant taking an anticoagulant drug?" />
                        <h:selectOneRadio id="ques2anticoagulants" class="yesnoanswers" requiredMessage="#{msgs.onAntiCoagulant}" value="#{controller.currentTherapyForm.onAntiCoagulant}" disabled="#{controller.currentTherapyForm.locked}" style="display: inline-table;">
                            <f:selectItem itemValue="true" itemLabel="YES"/>
                            <f:selectItem itemValue="false" itemLabel="NO" /> 
                            <f:validateRequired disabled="#{!param['VALIDATE']}" />
                        </h:selectOneRadio>
                    </h:panelGrid>
                </div>
                <div class="question-inputText-other">
                    <b>If yes, list drugs: </b><br/>
                    Name anticoagulant 1: <h:inputText id="ques2anticoag1" value="#{controller.currentTherapyForm.antiCoagulantName1}" size="30" disabled="#{controller.currentTherapyForm.locked || controller.currentTherapyForm.onAntiCoagulant == false}" /><br/><br/>
                    Name anticoagulant 2: <h:inputText id="ques2anticoag2" value="#{controller.currentTherapyForm.antiCoagulantName2}" size="30" disabled="#{controller.currentTherapyForm.locked || controller.currentTherapyForm.onAntiCoagulant == false}" /><br/><br/>
                    Name anticoagulant 3: <h:inputText id="ques2anticoag3" value="#{controller.currentTherapyForm.antiCoagulantName3}" size="30" disabled="#{controller.currentTherapyForm.locked || controller.currentTherapyForm.onAntiCoagulant == false}" /><br/>
                </div>
                <p:message for="ques2anticoagulants" />
                <h:panelGroup rendered="#{controller.renderVerificationPanel('onAntiCoagulant')}">
                    <div class="selectVerificationStatusIndented">
                        <h:outputLabel value="Anti Coagulant: VERIFICATION STATUS " rendered="true"/>
                        <h:selectOneMenu id="verifyType30" value="#{controller.currentTherapyForm.onAntiCoagulantVerificationStatus}" rendered="true">
                            <f:selectItems value="#{controller.currentTherapyForm.verificationTypes}" var="v" itemValue="#{v}" itemLabel="#{v.name}"/>
                        </h:selectOneMenu>
                    </div>
                    <div class="selectVerificationStatusIndented">
                        <h:outputText value="DCC Query Comment: " rendered="true" />
                        <h:inputTextarea value="#{controller.currentTherapyForm.onAntiCoagulantDccComment}" rows="1" cols="50" rendered="true" /> 
                    </div>
                </h:panelGroup>

                <div class="treatment-parameters">
                    <h:panelGrid columns="3" >
                        <h:outputLabel class="treatment-parameters-questions" value="4. Is the participant taking an antiplatelet drug?" />
                        <h:selectOneRadio id="ques3antiplatelets" class="yesnoanswers" requiredMessage="#{msgs.onAntiPlatelet}" value="#{controller.currentTherapyForm.onAntiPlatelet}" disabled="#{controller.currentTherapyForm.locked}" style="display: inline-table;">
                            <f:selectItem itemValue="true" itemLabel="YES"/>
                            <f:selectItem itemValue="false" itemLabel="NO" /> 
                            <f:validateRequired disabled="#{!param['VALIDATE']}" />
                        </h:selectOneRadio>
                    </h:panelGrid>
                </div>
                <div class="question-inputText-other">
                    <b>If yes, list drugs: </b><br/>
                    Name antiplatelet 1: <h:inputText id="ques2antiplat1" value="#{controller.currentTherapyForm.antiPlateletName1}" size="30" disabled="#{controller.currentTherapyForm.locked || controller.currentTherapyForm.onAntiPlatelet == false}" /><br/><br/>
                    Name antiplatelet 2: <h:inputText id="ques2antiplat2" value="#{controller.currentTherapyForm.antiPlateletName2}" size="30" disabled="#{controller.currentTherapyForm.locked || controller.currentTherapyForm.onAntiPlatelet == false}" /><br/><br/>
                    Name antiplatelet 3: <h:inputText id="ques2antiplat3" value="#{controller.currentTherapyForm.antiPlateletName3}" size="30" disabled="#{controller.currentTherapyForm.locked || controller.currentTherapyForm.onAntiPlatelet == false}" /><br/>
                </div>
                <p:message for="ques3antiplatelets" />
                <h:panelGroup rendered="#{controller.renderVerificationPanel('onAntiPlatelet')}">
                    <div class="selectVerificationStatusIndented">
                        <h:outputLabel value="Anti Platelet: VERIFICATION STATUS " rendered="true"/>
                        <h:selectOneMenu id="verifyType31" value="#{controller.currentTherapyForm.onAntiPlateletVerificationStatus}" rendered="true">
                            <f:selectItems value="#{controller.currentTherapyForm.verificationTypes}" var="v" itemValue="#{v}" itemLabel="#{v.name}"/>
                        </h:selectOneMenu>
                    </div>
                    <div class="selectVerificationStatusIndented">
                        <h:outputText value="DCC Query Comment: " rendered="true" />
                        <h:inputTextarea value="#{controller.currentTherapyForm.onAntiPlateletDccComment}" rows="1" cols="50" rendered="true" /> 
                    </div>
                </h:panelGroup>

                <div class="treatment-parameters">
                    <h:panelGrid columns="2" >
                        <h:outputLabel class="treatment-parameters-questions" value="5. Has ECP therapy been placed on hold, postponed, or discontinued? " />
                        <h:selectOneRadio id="ques4ecpdiscontinued" class="" requiredMessage="#{msgs.ecpTreatmentDiscontinued}" value="#{controller.currentTherapyForm.ecpTherapyDiscontinued}" disabled="#{controller.currentTherapyForm.locked}" style="display: inline-table;">
                            <f:selectItem itemValue="true" itemLabel="YES"/>
                            <f:selectItem itemValue="false" itemLabel="NO" /> 
                            <f:selectItem itemValue="na" itemLabel="Not Applicable" /> 
                            <f:validateRequired disabled="#{!param['VALIDATE']}" />
                        </h:selectOneRadio>
                    </h:panelGrid>
                </div>
                <p:message for="ques4ecpdiscontinued" />
                <h:panelGroup rendered="#{controller.renderVerificationPanel('ecpTherapyDiscontinued')}">
                    <div class="selectVerificationStatusIndented">
                        <h:outputLabel value="ECP Therapy Discontinued: VERIFICATION STATUS " rendered="true"/>
                        <h:selectOneMenu id="verifyType32" value="#{controller.currentTherapyForm.ecpTherapyDiscontinuedVerificationStatus}" rendered="true">
                            <f:selectItems value="#{controller.currentTherapyForm.verificationTypes}" var="v" itemValue="#{v}" itemLabel="#{v.name}"/>
                        </h:selectOneMenu>
                    </div>
                    <div class="selectVerificationStatusIndented">
                        <h:outputText value="DCC Query Comment: " rendered="true" />
                        <h:inputTextarea value="#{controller.currentTherapyForm.ecpTherapyDiscontinuedDccComment}" rows="1" cols="50" rendered="true" /> 
                    </div>
                </h:panelGroup>
                 <div class="change-therapy-ques4-indent">
                    <b>a. If yes, date date placed on hold, postponed, or discontinued: </b>
                    <p:calendar class="calendar" value="#{controller.currentTherapyForm.ecpTherapyDiscontinuedDate}" mode="popup" showOn="button" showButtonPanel="false" pattern="MM/dd/yyyy" navigator="true" size="10" disabled="#{controller.currentTherapyForm.locked || controller.currentTherapyForm.ecpTherapyDiscontinued == false}"  converter="strictDateTimeConverter"/>
                </div>
                <h:panelGroup rendered="#{controller.renderVerificationPanel('ecpTherapyDiscontinuedDate')}">
                    <div class="selectVerificationStatusIndented">
                        <h:outputLabel value="ECP Therapy Discontinued Date: VERIFICATION STATUS " rendered="true"/>
                        <h:selectOneMenu id="verifyType33" value="#{controller.currentTherapyForm.ecpTherapyDiscontinuedDateVerificationStatus}" rendered="true">
                            <f:selectItems value="#{controller.currentTherapyForm.verificationTypes}" var="v" itemValue="#{v}" itemLabel="#{v.name}"/>
                        </h:selectOneMenu>
                    </div>
                    <div class="selectVerificationStatusIndented">
                        <h:outputText value="DCC Query Comment: " rendered="true" />
                        <h:inputTextarea value="#{controller.currentTherapyForm.ecpTherapyDiscontinuedDateDccComment}" rows="1" cols="50" rendered="true" /> 
                    </div>
                </h:panelGroup>
               <div class="change-therapy-ques4-indent">
                    <b>b. If yes, reason for hold, postponement, or discontinuation: </b>
                    <h:inputTextarea id="ques4ecpdiscontinuedreason" value="#{controller.currentTherapyForm.ecpTherapyDiscontinuedReason}" rows="2" cols="80" disabled="#{controller.currentTherapyForm.locked || controller.currentTherapyForm.ecpTherapyDiscontinued == false}" />
                </div>
                <h:panelGroup rendered="#{controller.renderVerificationPanel('ecpTherapyDiscontinuedReason')}">
                    <div class="selectVerificationStatusIndented">
                        <h:outputLabel value="ECP Therapy Discontinued Reason: VERIFICATION STATUS " rendered="true"/>
                        <h:selectOneMenu id="verifyType34" value="#{controller.currentTherapyForm.ecpTherapyDiscontinuedReasonVerificationStatus}" rendered="true">
                            <f:selectItems value="#{controller.currentTherapyForm.verificationTypes}" var="v" itemValue="#{v}" itemLabel="#{v.name}"/>
                        </h:selectOneMenu>
                    </div>
                    <div class="selectVerificationStatusIndented">
                        <h:outputText value="DCC Query Comment: " rendered="true" />
                        <h:inputTextarea value="#{controller.currentTherapyForm.ecpTherapyDiscontinuedReasonDccComment}" rows="1" cols="50" rendered="true" /> 
                    </div>
                </h:panelGroup>

                <div class="question-radioButton">
                    <b>6. Comments: </b>
                    <h:inputTextarea value="#{controller.currentTherapyForm.comment}" rows="2" cols="80" disabled="#{controller.currentTherapyForm.commentLocked}" style="margin-left: 17px;" />
                </div>

            </h:panelGroup>
        </ui:define>
    </ui:composition>
    
</html>
