<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    
    <ui:composition template="/template/template.xhtml">
        <ui:define name="body">
            
            <h:form id="form">
            <h:outputStylesheet library="css" name="ecpregistry.css" />
            
            <div id="#{controller.style.header}">
                <h3>Extracorporeal Photopheresis (ECP) for the Management of Progressive Bronchiolitis Obliterans Syndrome (BOS) in Medicare-Eligible Recipients of Lung Allografts</h3>
                <h2>Current CRF Status Report</h2>
           </div>

            
            <br/>
            
            <h:panelGroup id="section1" rendered="true">          
                <div class="sectionFirstHeading" style="padding-top: 20px;">
                   Current CRFs for all participants and all forms only in the NEW, STARTED, CRF_QUERY, or SUBMITTED status
                    <br/>
                    <br/>
                </div>
                
<!-- Primefaces DYNAMIC COLUMN code to create an html table with varying numbers of columns is presented below. -->
<!-- To display this monthlyAccrualReport.xhtml webpage, the "Monthly Accrual Report" sub-menu item under the "ECP Reports" main menu is selected in the template.xhtml code. -->
<!-- The sub-menu item calls the ReportsController action method: MonthlyAccrualReportAction().  The getAccrualBySiteByMonthReportItems() method in the action method is used to create the columnNames and dataModelEcpTreatmentArm. -->
<!-- The dataModelEcpTreatmentArm contains each 'row' of data to be displayed in a hashMap<String, Object> format, where the String is the columnName and the Object is the column/row datu. -->
                    

                <p:commandButton value="Export as Excel" style="color: red" ajax="false" >
                    <p:dataExporter type="xls" target="StatusTable" fileName="ECP_CRF_Status_Report" />
                </p:commandButton>

    <br/>
		    <p:dataTable id="StatusTable" value="#{reportsController.dataModelCurrentCRFStatus}" var="row" tableStyle="width:auto" widgetVar="CRFstatusTable" rendered="true" resizableColumns="true" 
                                 paginator="true"
                                 paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                 rowsPerPageTemplate="25, 50, 75, 100"
                                 rows="25"
                                 >                         
							
                                <p:column headerText="Site Name" sortBy="#{row.sname}" filterBy="#{row.sname}" filterMatchMode="in"> 
                                    <f:facet name="filter">
                                        <p:selectCheckboxMenu label="Sites" onchange="PF('CRFstatusTable').filter()" styleClass="custom-filter">       
                                            <f:selectItems value="#{controller.siteList}" />    
                                        </p:selectCheckboxMenu>
                                    </f:facet>
                                    <h:commandLink value="#{row.sname}" action="#{controller.viewSite(row.sname)}" />
                                </p:column>

                                <p:column headerText="Participant ID" sortBy="#{row.participantid}" filterBy="#{row.participantid}" filterMatchMode="contains">
                                    <h:commandLink value="#{row.participantid}" action="#{controller.viewParticipant(row.sname, row.participantid)}" />
                                </p:column>
                                
                                                 
                               <p:column headerText="Enrolled Date" sortBy="#{row.enrolleddate}" sortFunction="#{controller.sortByDate}" filterBy="#{row.enrolleddate}" filterMatchMode="contains" >
                                        <h:outputText value="#{row.enrolleddate}"/>
                                </p:column>
								
				<p:column headerText="Study Arm" sortBy="#{row.studyarmstatus}" filterBy="#{row.studyarmstatus}" filterMatchMode="in">
                                    <f:facet name="filter">
                                        <p:selectCheckboxMenu label="Study Arms" onchange="PF('CRFstatusTable').filter()" styleClass="custom-filter">                                                                              
                                            <f:selectItems value="#{controller.studyArmNames}" />                                    
                                        </p:selectCheckboxMenu>
                                    </f:facet>
                                    <h:outputText value="#{row.studyarmstatus}" />
                                </p:column>
								
				<p:column headerText="Crossover Date" sortBy="#{row.overridedate}" sortFunction="#{controller.sortByDate}">                        
                                    <h:outputText value="#{row.overridedate}" />
                                </p:column>
								
				<p:column headerText="Form Type" sortBy="#{row.formtype}" filterBy="#{row.formtype}" filterMatchMode="in">
                                    <f:facet name="filter">
                                        <p:selectCheckboxMenu label="Form Types" onchange="PF('CRFstatusTable').filter()" styleClass="custom-filter">
                                            <f:selectItems value="#{controller.formNames}" />
                                        </p:selectCheckboxMenu>
                                    </f:facet>
                                    <h:outputText value="#{row.formtype}" />
                                </p:column>
								
				<p:column headerText="Event Title" sortBy="#{row.title}" sortFunction="#{controller.alphaNumSort}">
                                    <h:commandLink value="#{row.title}" action="#{controller.viewEventForReport(row.sname, row.participantid, row.eid)}" />
                                </p:column>
								
<!--				<p:column headerText="Event Label" sortBy="#{row.label}" sortFunction="#{controller.alphaNumSort}">
                                    <h:outputText value="#{row.label}" />
                                    <h:commandLink value="#{row.label}" action="#{controller.viewEventAction(row.label)}" target="_blank"/>      
                                </p:column>                                 -->
				
                                <p:column headerText="Form" >
                                    <h:commandLink value="View Form" action="#{controller.viewFormForReport(row.sname, row.participantid, row.eid, row.bid)}" />      
                                </p:column>    
                        
				<p:column headerText="Form Status" sortBy="#{row.status}" filterBy="#{row.status}" filterMatchMode="in">
                                    <f:facet name="filter">
                                        <p:selectCheckboxMenu label="Statuses" onchange="PF('CRFstatusTable').filter()" styleClass="custom-filter">
                                            <f:selectItems value="#{controller.statusNames}" />
                                        </p:selectCheckboxMenu>
                                    </f:facet>
                                    <h:outputText value="#{row.status}" />
                                </p:column>
								
				<p:column headerText="Projected Date" sortBy="#{row.projecteddate}" sortFunction="#{controller.sortByDate}">                        
                                    <h:outputText value="#{row.projecteddate}" />
                                </p:column>
								
				<p:column headerText="Event Date" sortBy="#{row.actualdate}" sortFunction="#{controller.sortByDate}">
                                    <h:outputText value="#{row.actualdate}" />
                                </p:column>
                    </p:dataTable>
									
            </h:panelGroup>
            <p></p>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
