<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    
    <ui:composition template="./template/newDemoMedHistFormTemplate.xhtml">
        <ui:param name="baselineFEV1Assessment" value="FEV1" />
        <ui:param name="vitalsObtainedQuesNum" value="21"/>
        <ui:param name="weightQuesNum" value="22"/>
        <ui:param name="bloodPressQuesNum" value="23"/>
        <ui:param name="heartRateQuesNum" value="24"/>
        <ui:param name="respRateQuesNum" value="25"/>
        <ui:param name="restingOxyQuesNum" value="26"/>
        <ui:param name="receivingOxyQuesNum" value="27"/>
        <ui:param name="commentsQuesNum" value="28"/>

        <ui:define name="baselineFEV1MeasurementsQuestion">
            <b>Please provide the baseline FEV1 measurements using the ISHLT definition (The average of the two highest FEV1 measurements obtained three weeks apart after transplantation.)  Please enter the laboratory based FEV1 measurements below: </b>
        </ui:define>

        <ui:param name="bosClad" value="BOS" />
        
        <ui:define name="bosGrades">
            <f:selectItem itemValue="0" itemLabel="0"/>
            <f:selectItem itemValue="0-p" itemLabel="0-p" /> 
            <f:selectItem itemValue="1" itemLabel="1"/>
            <f:selectItem itemValue="2" itemLabel="2"/>
            <f:selectItem itemValue="3" itemLabel="3"/>
        </ui:define>

        <ui:define name="bosTable">
            <div class="tableBos">
                    <table style="width:700px;" border="1px solid black" cellpadding="5" margin-left="25px">
                        <col width="150px" />
                        <col width="550px" />
                        <tr>
                            <th>Stage</th>
                            <th>Definition</th>
                        </tr>
                        <tr>
                            <td>BOS Stage 0</td>
                            <td>FEV1 > 90% and FEF 25%-75% > 75% of baseline</td>
                        </tr>
                        <tr>
                          <td>BOS Stage 0-p</td>
                          <td>FEV1 = 81% to 90% of baseline and or FEF 25%-75%  75% of baseline</td>
                        </tr>
                        <tr>
                          <td>BOS Stage 1</td>
                          <td>FEV1 = 66% to 80% of baseline</td>
                        </tr>
                        <tr>
                          <td>BOS Stage 2</td>
                          <td>FEV1 = 51% to 65% of baseline</td>
                        </tr>
                        <tr>
                          <td>BOS Stage 3</td>
                          <td>FEV1 less than or equal to 50% of baseline</td>
                        </tr>
                    </table> 
                </div>
        </ui:define>
        
        <ui:define name="antiCoagPlatelet">
            <div class="treatment-parameters">
                <h:panelGrid columns="2" >
                    <h:outputLabel class="treatment-parameters-questions" value="20. Is the participant on any anticoagulant or antiplatelet drugs?" />
                    <h:selectOneRadio id="ques20" class="yesnoanswers" requiredMessage="#{msgs.onAntiCoagPlatelet}" value="#{controller.demoMedHistForm.onAntiCoagPlatelet}" disabled="#{controller.demoMedHistForm.locked}" style="display: inline-table;">
                        <f:selectItem itemValue="true" itemLabel="YES"/>
                        <f:selectItem itemValue="false" itemLabel="NO" /> 
                        <f:validateRequired disabled="#{!param['VALIDATE']}" />
                    </h:selectOneRadio>
                </h:panelGrid>
            </div>
            <div class="question-inputText-other">
                <b>If yes, list drugs: </b><br/>
                Name drug 1: <h:inputText value="#{controller.demoMedHistForm.antiCoagPlateletName1}" size="30" disabled="#{controller.demoMedHistForm.locked}" /><br/><br/>
                Name drug 2: <h:inputText value="#{controller.demoMedHistForm.antiCoagPlateletName2}" size="30" disabled="#{controller.demoMedHistForm.locked}" /><br/><br/>
                Name drug 3: <h:inputText value="#{controller.demoMedHistForm.antiCoagPlateletName3}" size="30" disabled="#{controller.demoMedHistForm.locked}" /><br/>
            </div>
            <p:message for="ques20" />
        </ui:define>
    </ui:composition>
</html>
