<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    
    <ui:composition template="./formTemplate.xhtml">
        <ui:define name="form_title">
            
            <h:outputStylesheet library="css" name="ecpregistry.css" />
            
            <div id="#{controller.style.header}">
                <h3>Extracorporeal Photopheresis (ECP) for the Management of Progressive Bronchiolitis Obliterans Syndrome (BOS) in Medicare-Eligible Recipients of Lung Allografts</h3>
                <h2>DISEASE SPECIFIC CATEGORIZATION - Case Report Form (CRF)</h2>
                <div>
                    <h2><center><h:outputText value="#{controller.selectedForm.title}" /></center></h2>
                </div>
            </div>
            <div>
                <h2>Please include the following types of source documents:</h2>
                <div>
                <b>1. Admission Progress Note / Emergency Department Note</b><br/>
                <b>2. Acute Ambulatory Care Note / Acute Clinic Note</b><br/>
                <b>3. Discharge Summary</b>
                </div>
            </div>

        </ui:define>
       
        <ui:define name="form_content">
            <div id="crfcenterparticipantidsdate">
                <div>
                    <b>Disease Specific Categorization Date: </b>
                    <p:calendar id="dscDate" class="calendar" value="#{controller.DSCForm.dscDate}" disabled="#{controller.DSCForm.locked}" mode="popup" showOn="button" showButtonPanel="false" pattern="MM/dd/yyyy" navigator="true" size="10" converter="strictDateTimeConverter">
                        <f:validateRequired disabled="#{!param['VALIDATE']}" />  <!-- The value for the param variable VALIDATE is determined in the formTemplate.xhtml file under c:if test -->
                    </p:calendar>
                </div>
            </div>
            <h:panelGroup rendered="#{controller.renderVerificationPanel('dscDate')}">
                <div class="selectVerificationStatusIndented">
                    <h:outputLabel value="DATE: VERIFICATION STATUS " rendered="true"/>
                    <h:selectOneMenu id="verifyTypeDate" value="#{controller.DSCForm.dscDateVerificationStatus}" rendered="true">
                        <f:selectItems value="#{controller.DSCForm.verificationTypes}" var="v" itemValue="#{v}" itemLabel="#{v.name}"/>
                    </h:selectOneMenu>
                </div>
                <div class="selectVerificationStatusIndented">
                    <h:outputText value="DCC Query Comment: " rendered="true" />
                    <h:inputTextarea value="#{controller.DSCForm.dscDateDccComment}" rows="1" cols="50" rendered="true" /> 
                </div>
            </h:panelGroup>
            <p:message for="dscDate" />

            <div>
                <b>FOR CCC USE ONLY: Select Disease specific category: </b>
            </div>
            <div class="question-radioButton">
                <b>1. Central Nervous System (CNS): </b>
                <br/>
                <div style="position: absolute; left: 45px;">
                    <h:selectBooleanCheckbox id="cnsCheckBox1" value="#{controller.DSCForm.centralNervousSysTIA}" disabled="#{controller.DSCForm.locked}" />
                    <h:outputText value="A. TIA" />
                </div>
                <br/>
                <div style="position: absolute; left: 45px;">
                    <h:selectBooleanCheckbox id="cnsCheckBox2" value="#{controller.DSCForm.centralNervousSysCVA}" disabled="#{controller.DSCForm.locked}" />
                    <h:outputText value="B. CVA" />
                </div>
                <br/>
                <div style="position: absolute; left: 45px;">
                    <h:selectBooleanCheckbox id="cnsCheckBox3" value="#{controller.DSCForm.centralNervousSysIntracranialHemorrhage}" disabled="#{controller.DSCForm.locked}" />
                    <h:outputText value="C. Intracranial Hemorrhage" />
                </div>
                <br/>
                <div style="position: absolute; left: 45px;">
                    <h:selectBooleanCheckbox id="cnsCheckBox4" value="#{controller.DSCForm.centralNervousSysAcuteNeurDeficit}" disabled="#{controller.DSCForm.locked}" />
                    <h:outputText value="D. Acute Neurologic Deficit" />
                </div>
                <br/>
                <div style="position: absolute; left: 45px;">
                    <h:selectBooleanCheckbox id="cnsCheckBox5" value="#{controller.DSCForm.centralNervousSysOther}" disabled="#{controller.DSCForm.locked}" />
                    <h:outputText value="E. Other:" />
                </div>
                <br/>
                <div style="position:relative; left:37px; top:5px;">
                    <h:inputTextarea value="#{controller.DSCForm.centralNervousSysOther}" rows="1" cols="80" disabled="#{controller.DSCForm.commentLocked}" style="margin-left: 17px;" />
                </div>
                <br/>
            </div>

            <div class="question-radioButton">
                <b>2. Myocardial: </b>
                <br/>
                <div style="position: absolute; left: 45px;">
                    <h:selectBooleanCheckbox id="myocardialCheckBox1" value="#{controller.DSCForm.myocardialIschemia}" disabled="#{controller.DSCForm.locked}" />
                    <h:outputText value="A. Acute Myocardial Ischemia" />
                </div>
                <br/>
                <div style="position: absolute; left: 45px;">
                    <h:selectBooleanCheckbox id="myocardialCheckBox2" value="#{controller.DSCForm.myocardialInfarction}" disabled="#{controller.DSCForm.locked}" />
                    <h:outputText value="B. Acute Myocardial Infarction" />
                </div>
                <br/>
                <div style="position: absolute; left: 45px;">
                    <h:selectBooleanCheckbox id="myocardialCheckBox3" value="#{controller.DSCForm.myocardialArrythmia}" disabled="#{controller.DSCForm.locked}" />
                    <h:outputText value="C. Acute Tachy or bradyarrythmia" />
                </div>
                <br/>
                <div style="position: absolute; left: 45px;">
                    <h:selectBooleanCheckbox id="myocardialCheckBox4" value="#{controller.DSCForm.myocardialOther}" disabled="#{controller.DSCForm.locked}" />
                    <h:outputText value="D. Other:" />
                </div>
                <br/>
                <div style="position:relative; left:37px; top:5px;">
                    <h:inputTextarea value="#{controller.DSCForm.myocardialOther}" rows="1" cols="80" disabled="#{controller.DSCForm.commentLocked}" style="margin-left: 17px;" />
                </div>
                <br/>
            </div>

            <div class="question-radioButton">
                <b>3. Renal: </b>
                <br/>
                <div style="position: absolute; left: 45px;">
                    <h:selectBooleanCheckbox id="renalCheckBox1" value="#{controller.DSCForm.renalAcuteFailure}" disabled="#{controller.DSCForm.locked}" />
                    <h:outputText value="A. Acute Renal Failure" />
                </div>
                <br/>
                <div style="position: absolute; left: 45px;">
                    <h:selectBooleanCheckbox id="renalCheckBox2" value="#{controller.DSCForm.renalChronicFailure}" disabled="#{controller.DSCForm.locked}" />
                    <h:outputText value="B. Chronic Renal Failure" />
                </div>
                <br/>
                <div style="position: absolute; left: 45px;">
                    <h:selectBooleanCheckbox id="renalCheckBox3" value="#{controller.DSCForm.renalOther}" disabled="#{controller.DSCForm.locked}" />
                    <h:outputText value="C. Other:" />
                </div>
                <br/>
                <div style="position:relative; left:37px; top:5px;">
                    <h:inputTextarea value="#{controller.DSCForm.renalOther}" rows="1" cols="80" disabled="#{controller.DSCForm.commentLocked}" style="margin-left: 17px;" />
                </div>
                <br/>
            </div>

            <div class="question-radioButton">
                <b>4. Pulmonary: </b>
                <br/>
                <div style="position: absolute; left: 45px;">
                    <h:selectBooleanCheckbox id="pulmCheckBox1" value="#{controller.DSCForm.pulmonaryAcuteRespiratoryFailure}" disabled="#{controller.DSCForm.locked}" />
                    <h:outputText value="A. Acute Respiratory Failure" />
                </div>
                <br/>
                <div style="position: absolute; left: 45px;">
                    <h:selectBooleanCheckbox id="pulmCheckBox2" value="#{controller.DSCForm.pulmonaryBOS}" disabled="#{controller.DSCForm.locked}" />
                    <h:outputText value="B. BOS" />
                </div>
                <br/>
                <div style="position: absolute; left: 45px;">
                    <h:selectBooleanCheckbox id="pulmCheckBox3" value="#{controller.DSCForm.pulmonaryAcuteHypoxemia}" disabled="#{controller.DSCForm.locked}" />
                    <h:outputText value="C. Acute Hypoxemia" />
                </div>
                <br/>
                <div style="position: absolute; left: 45px;">
                    <h:selectBooleanCheckbox id="pulmCheckBox4" value="#{controller.DSCForm.pulmonaryInfection}" disabled="#{controller.DSCForm.locked}" />
                    <h:outputText value="D. Pulmonary Infection" />
                </div>
                <br/>
                <div style="position: absolute; left: 45px;">
                    <h:selectBooleanCheckbox id="pulmCheckBox5" value="#{controller.DSCForm.pulmonaryOther}" disabled="#{controller.DSCForm.locked}" />
                    <h:outputText value="E. Other:" />
                </div>
                <br/>
                <div style="position:relative; left:37px; top:5px;">
                    <h:inputTextarea value="#{controller.DSCForm.pulmonaryOther}" rows="1" cols="80" disabled="#{controller.DSCForm.commentLocked}" style="margin-left: 17px;" />
                </div>
                <br/>
            </div>

            <div class="question-radioButton">
                <b>5. Hepatic </b>
                <br/>
                <div style="position: absolute; left: 45px;">
                    <h:selectBooleanCheckbox id="hepaticCheckBox1" value="#{controller.DSCForm.hepaticAcuteFailure}" disabled="#{controller.DSCForm.locked}" />
                    <h:outputText value="A. Acute Hepatic Failure" />
                </div>
                <br/>
                <div style="position: absolute; left: 45px;">
                    <h:selectBooleanCheckbox id="hepaticCheckBox2" value="#{controller.DSCForm.hepaticAcuteRiseInEnzymes}" disabled="#{controller.DSCForm.locked}" />
                    <h:outputText value="B. Acute Rise in Liver Enzymes" />
                </div>
                <br/>
                <div style="position: absolute; left: 45px;">
                    <h:selectBooleanCheckbox id="hepaticCheckBox3" value="#{controller.DSCForm.hepaticOther}" disabled="#{controller.DSCForm.locked}" />
                    <h:outputText value="C. Other:" />
                </div>
                <br/>
                <div style="position:relative; left:37px; top:5px;">
                    <h:inputTextarea value="#{controller.DSCForm.hepaticOther}" rows="1" cols="80" disabled="#{controller.DSCForm.commentLocked}" style="margin-left: 17px;" />
                </div>
                <br/>
            </div>

            <div class="question-radioButton">
                <b>6. Diabetes Mellitus (DM)</b>
                <br/>
                <div style="position: absolute; left: 45px;">
                    <h:selectBooleanCheckbox id="diabetesCheckBox1" value="#{controller.DSCForm.diabetesNewDiagnosis}" disabled="#{controller.DSCForm.locked}" />
                    <h:outputText value="A. New Diagnosis of DM" />
                </div>
                <br/>
                <div style="position: absolute; left: 45px;">
                    <h:selectBooleanCheckbox id="diabetesCheckBox2" value="#{controller.DSCForm.diabetesAcuteExacerbation}" disabled="#{controller.DSCForm.locked}" />
                    <h:outputText value="B. Acute DM Exacerbation" />
                </div>
                <br/>
                <div style="position: absolute; left: 45px;">
                    <h:selectBooleanCheckbox id="diabetesCheckBox3" value="#{controller.DSCForm.diabetesOther}" disabled="#{controller.DSCForm.locked}" />
                    <h:outputText value="C. Other:" />
                </div>
                <br/>
                <div style="position:relative; left:37px; top:5px;">
                    <h:inputTextarea value="#{controller.DSCForm.diabetesOther}" rows="1" cols="80" disabled="#{controller.DSCForm.commentLocked}" style="margin-left: 17px;" />
                </div>
                <br/>
            </div>

            <div class="question-radioButton">
                <b>7. Hematologic (Dyscrasia that involves symptoms or requires treatment) </b>
                <br/>
                <div style="position: absolute; left: 45px;">
                    <h:selectBooleanCheckbox id="hematologicCheckBox1" value="#{controller.DSCForm.hematologicAnemia}" disabled="#{controller.DSCForm.locked}" />
                    <h:outputText value="A. Anemia" />
                </div>
                <br/>
                <div style="position: absolute; left: 45px;">
                    <h:selectBooleanCheckbox id="hematologicCheckBox2" value="#{controller.DSCForm.hematologicThrombocytopenia}" disabled="#{controller.DSCForm.locked}" />
                    <h:outputText value="B. Thrombocytopenia" />
                </div>
                <br/>
                <div style="position: absolute; left: 45px;">
                    <h:selectBooleanCheckbox id="hematologicCheckBox3" value="#{controller.DSCForm.hematologicLeukopenia}" disabled="#{controller.DSCForm.locked}" />
                    <h:outputText value="C. Leukopenia" />
                </div>
                <br/>
                <div style="position: absolute; left: 45px;">
                    <h:selectBooleanCheckbox id="hematologicCheckBox4" value="#{controller.DSCForm.hematologicLeukocystosis}" disabled="#{controller.DSCForm.locked}" />
                    <h:outputText value="D. Leukocystosis" />
                </div>
                <br/>
                <div style="position: absolute; left: 45px;">
                    <h:selectBooleanCheckbox id="hematologicCheckBox5" value="#{controller.DSCForm.hematologicAnemia}" disabled="#{controller.DSCForm.locked}" />
                    <h:outputText value="E. Other:" />
                </div>
                <br/>
                <div style="position:relative; left:37px; top:5px;">
                    <h:inputTextarea value="#{controller.DSCForm.hematologicOther}" rows="1" cols="80" disabled="#{controller.DSCForm.commentLocked}" style="margin-left: 17px;" />
                </div>
                <br/>
            </div>

            <div class="question-radioButton">
                <b>8. Infection</b>
                <br/>
                <div style="position: absolute; left: 45px;">
                    <h:selectBooleanCheckbox id="infectionCheckBox1" value="#{controller.DSCForm.infectionRequiringTreatment}" disabled="#{controller.DSCForm.locked}" />
                    <h:outputText value="A. Infection Requiring Treatment" />
                </div>
                <br/>
                <div style="position: absolute; left: 45px;">
                    <h:selectBooleanCheckbox id="infectionCheckBox2" value="#{controller.DSCForm.infectionRequiringHospitalization}" disabled="#{controller.DSCForm.locked}" />
                    <h:outputText value="B. Infection Requiring Hospitalization" />
                </div>
                <br/>
                <div style="position: absolute; left: 45px;">
                    <h:selectBooleanCheckbox id="infectionCheckBox3" value="#{controller.DSCForm.infectionRequiringICUAdmission}" disabled="#{controller.DSCForm.locked}" />
                    <h:outputText value="C. Infection Requiring ICU Admission" />
                </div>
                <br/>
                <div style="position: absolute; left: 45px;">
                    <h:selectBooleanCheckbox id="infectionCheckBox4" value="#{controller.DSCForm.infectionSepsis}" disabled="#{controller.DSCForm.locked}" />
                    <h:outputText value="D. Sepsis " />
                </div>
                <br/>
                <div style="position: absolute; left: 45px;">
                    <h:selectBooleanCheckbox id="infectionCheckBox5" value="#{controller.DSCForm.infectionRequiringTreatment}" disabled="#{controller.DSCForm.locked}" />
                    <h:outputText value="E. Other:" />
                </div>
                <br/>
                <div style="position:relative; left:37px; top:5px;">
                    <h:inputTextarea value="#{controller.DSCForm.infectionOther}" rows="1" cols="80" disabled="#{controller.DSCForm.commentLocked}" style="margin-left: 17px;" />
                </div>
                <br/>
            </div>

            <div class="question-radioButton">
                <b>9. Other:</b>
                <br/>
                    <h:inputTextarea value="#{controller.DSCForm.other}" rows="2" cols="80" disabled="#{controller.DSCForm.commentLocked}" style="margin-left: 17px;" />
                <br/>
            </div>
                
            <div class="question-radioButton">
                <b>10. Comments: </b>
                <h:inputTextarea value="#{controller.DSCForm.comment}" rows="2" cols="80" disabled="#{controller.DSCForm.commentLocked}" style="margin-left: 17px;" />
            </div>

        </ui:define>
    </ui:composition>
    
</html>

