<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="./template/newEligibilityFormTemplate.xhtml">
        <ui:param name="leukopeniaThreshold" value="3 K/cumm" />
        <ui:param name="baselineComponentName" value="PFT" />

        <ui:param name="inclusionMinimumFive" value="At minimum five recorded FEV1 measurements obtained at intervals of at least two weeks apart over the six months preceding study enrollment, of which one FEV1 must be within two weeks prior to enrollment" />
        <ui:param name="exclusionContraindication" value="Has a) a specific acute contraindication to receiving ECP due to any acute condition such as new or evolving myocardial infarction or central nervous system disorder, hemodynamic instability or hypovolemia, acute bleeding, respiratory distress; b) lupus erythematosus, porphyria cutanea tarda, erythropoietic protoporphyria, variegate porphyria, xeroderma pigmentosum, albinism, or other dermatologic or ocular condition that contraindicates the use of methoxsalen or markedly enhances photosensitivity in the investigator’s judgment; or c) other condition that puts the participant at unacceptable risk for study-related complications as judged by the referring clinician" />
        <ui:param name="exclusionAdherence" value="Any condition that would significantly interfere with the participant's ability to adhere to the protocol or affect interpretation of the study results" />
        
        <ui:define name="timeSensitiveNotice">
            <u>Important and Time-Sensitive:</u> Please PRINT this subject's Confirmation of Eligibility (COE) Form and have an authorized physician investigator sign and date the COE form. Scan and upload the signed COE form along with the <u>de-identified</u> Source Documents listed at the top of the COE Form.  Per <a href="ecpRegistryProtocol.xhtml#section3-7" target="_blank">Protocol Section 3.7</a>, submission of this signed COE Form with DCC Verification is required before ECP or any study-related invasive procedure (e.g. central venous catheter placement) may be performed. NOTE: ECP Treatment or study-related invasive procedures are not permitted for Control Arm participants.
        </ui:define>
        
        <ui:define name="baselineMeasurementInstructions">
            <div class="ishlt-directions">
                <b>2. ISHLT BASELINE FEV1 MEASUREMENTS - Please provide the baseline FEV1 measurements using the ISHLT definition (The average of the two highest FEV1 measurements obtained at least three weeks apart after transplantation). The system will calculate the mean FEV1. Please enter the laboratory based FEV1 measurements below:</b>
            </div>
        </ui:define>
        
        <ui:define name="inclusionCriteria">
                            <h:panelGrid columns="2" >
                    <h:selectOneRadio id="ques1" class="yesnoanswers" required="true" requiredMessage="#{msgs.age}" value="#{controller.eligibilityForm.age}" style="display: inline-table;" disabled="#{controller.eligibilityForm.locked}">
                        <f:selectItem itemValue="true" itemLabel="YES"/>
                        <f:selectItem itemValue="false" itemLabel="NO" /> 
                    </h:selectOneRadio>
                    <h:outputLabel class="yesno-questions" value="Age 18 years or older" />
                </h:panelGrid>
                <h:panelGroup rendered="#{controller.renderVerificationPanel('age')}">
                    <div class="selectVerificationStatusIndentedMore">
                        <h:outputLabel value="Age: VERIFICATION STATUS " rendered="true"/>
                        <h:selectOneMenu id="verifyType1" value="#{controller.eligibilityForm.ageVerificationStatus}" rendered="true">
                            <f:selectItems value="#{controller.eligibilityForm.verificationTypes}" var="v" itemValue="#{v}" itemLabel="#{v.name}"/>
                        </h:selectOneMenu>
                    </div>
                    <div class="selectVerificationStatusIndentedMore">
                        <h:outputText value="DCC Query Comment: " rendered="true" />
                        <h:inputTextarea value="#{controller.eligibilityForm.ageDccComment}" rows="1" cols="50" rendered="true" /> 
                    </div>
                </h:panelGroup>
                <p:message for="ques1" />

                <h:panelGrid columns="2" >
                    <h:selectOneRadio id="ques2" class="yesnoanswers" required="" requiredMessage="#{msgs.medicare}" value="#{controller.eligibilityForm.medicare}" style="display: inline-table;" disabled="#{controller.eligibilityForm.locked}">
                        <f:selectItem itemValue="true" itemLabel="YES"/>
                        <f:selectItem itemValue="false" itemLabel="NO" /> 
                    </h:selectOneRadio>
                    <h:outputLabel class="yesno-questions" value="Medicare-eligible status" />
                </h:panelGrid>
                <p:message for="ques2" />

                <h:panelGrid columns="2">
                    <h:selectOneRadio id="ques3" class="yesnoanswers" required="" requiredMessage="#{msgs.lungTransplant}" value="#{controller.eligibilityForm.lungTransplant}" style="display: inline-table;" disabled="#{controller.eligibilityForm.locked}">
                        <f:selectItem itemValue="true" itemLabel="YES"/>
                        <f:selectItem itemValue="false" itemLabel="NO" /> 
                    </h:selectOneRadio>
                    <h:outputLabel class="yesno-questions" value="Lung transplant recipient (combined organ transplant recipients, e.g. heart-lung or liver-lung recipients, or lung re-transplantation, are eligible)" />
                </h:panelGrid>
                <h:panelGroup rendered="#{controller.renderVerificationPanel('lungTransplant')}">
                    <div class="selectVerificationStatusIndentedMore">
                        <h:outputLabel value="Lung Transplant: VERIFICATION STATUS " rendered="true"/>
                        <h:selectOneMenu id="verifyType3" value="#{controller.eligibilityForm.lungTransplantVerificationStatus}" rendered="true">
                            <f:selectItems value="#{controller.eligibilityForm.verificationTypes}"  var="v" itemValue="#{v}" itemLabel="#{v.name}"/>
                        </h:selectOneMenu>
                    </div>
                    <div class="selectVerificationStatusIndentedMore">
                        <h:outputText value="DCC Query Comment: " rendered="true" />
                        <h:inputTextarea value="#{controller.eligibilityForm.lungTransplantDccComment}" rows="1" cols="50" rendered="true" /> 
                    </div>
                </h:panelGroup>
                <p:message for="ques3" />

                <h:panelGrid columns="2">
                    <h:selectOneRadio id="ques4a" class="yesnoanswers" required="" requiredMessage="#{msgs.yesOrNoRequired}" value="#{controller.eligibilityForm.labBasedNewBOSDiagnosis}" style="display: inline-table;" disabled="#{controller.eligibilityForm.locked}">
                        <f:selectItem itemValue="true" itemLabel="YES"/>
                        <f:selectItem itemValue="false" itemLabel="NO" /> 
                    </h:selectOneRadio>
                    <h:outputLabel class="yesno-questions" value="Diagnosis of new BOS (i.e., 'new BOS' is defined as within nine weeks prior to enrollment) based on laboratory-based spirometric FEV1 measurements obtained on at least two separate occasions (i.e., at least 3 weeks apart) that have declined by more than 20% from post-transplant baseline values (i.e., using ISHLT definition). Inherent to the diagnosis of new BOS is the exclusion of other potential causes of allograft dysfunction." />
                </h:panelGrid>
                <p:message for="ques4a" />
                
                <h:panelGrid columns="2">
                    <h:selectOneRadio id="ques5" class="yesnoanswers" required="" requiredMessage="#{msgs.fiveFEV1sPostTrans}" value="#{controller.eligibilityForm.fiveFEV1sPostTrans}" style="display: inline-table;" disabled="#{controller.eligibilityForm.locked}">
                        <f:selectItem itemValue="true" itemLabel="YES"/>
                        <f:selectItem itemValue="false" itemLabel="NO" /> 
                    </h:selectOneRadio>
                    <h:outputLabel class="yesno-questions" value="Achievement of a statistically significant rate of decline in lung function (FEV1) at the diagnosis of new BOS per the criteria in Section 3.6 as assessed by the following criteria: 
For patients who are monitored with laboratory based spirometry, at least five recorded FEV1 measurements obtained at intervals of at least two weeks apart either 6 or 9 (i.e., depending on the frequency of spirometry testing) months preceding study enrollment accompanied by a statistically significant (p &lt; 0.05) rate of decline of FEV1 that exceeds 30 mL/month: or
For patients who are monitored with home Spirometry 4-6 recorded home spirometry FEV1 measurements obtained one week apart, over the 4-6 weeks prior to a confirmed FEV1 variance (i.e., the date of the second of two consecutive FEV1 values below the patient’s normal range) along with 4-6 recorded weekly FEV1 measurements obtained after a confirmed variance accompanied by a statistically significant (p &lt; 0.05) rate of decline of FEV1 that exceeds 30 mL/month." />
                </h:panelGrid>
                <p:message for="ques5" />
                
                <h:panelGrid columns="2">
                    <h:selectOneRadio id="ques5a" class="yesnoanswers" required="" requiredMessage="#{msgs.yesOrNoRequired}" value="#{controller.eligibilityForm.preDiagnosisMonitoring}" style="display: inline-table;" disabled="#{controller.eligibilityForm.locked}">
                        <f:selectItem itemValue="true" itemLabel="YES"/>
                        <f:selectItem itemValue="false" itemLabel="NO" /> 
                    </h:selectOneRadio>
                    <h:outputLabel class="yesno-questions" value="History of close FEV1 monitoring prior to the diagnosis of new BOS, defined as having had either of the two monitoring approaches:
(1) Frequent laboratory based spirometry defined as having had regular FEV1 measurements within the context of either of the following two options:
A. During the preceding six months prior to the diagnosis of new BOS with no time interval between FEV1 measurements that exceeds 8 weeks. (Participants must be at least 6 months’ post–transplant)
B. During the preceding nine months prior to diagnosis of new BOS  with no time interval between FEV1 measurements that exceeds 12 weeks (Participants must be at least 9 months post-transplant) with changes in the requisite time intervals for assessment of FEV1 values.
(2) Frequent Home Spirometry through  the separate IRB approved Standardized Home Spirometry Method sub-protocol." />
                </h:panelGrid>
                <p:message for="ques5a" />
                
                <h:panelGrid columns="2">
                    <h:selectOneRadio id="ques5b" class="yesnoanswers" required="" requiredMessage="#{msgs.yesOrNoRequired}" value="#{controller.eligibilityForm.documentedClinicalAssessment}" style="display: inline-table;" disabled="#{controller.eligibilityForm.locked}">
                        <f:selectItem itemValue="true" itemLabel="YES"/>
                        <f:selectItem itemValue="false" itemLabel="NO" /> 
                    </h:selectOneRadio>
                    <h:outputLabel class="yesno-questions" value="A documented clinical assessment including a physical assessment and CBC with WBC within two weeks prior to enrollment" />
                </h:panelGrid>
                <p:message for="ques5b" />

        </ui:define>
        
        <ui:define name="exclusionCriteria">
                            <h:panelGrid columns="2" >
                    <h:selectOneRadio id="ques6" class="yesnoanswers" required="" requiredMessage="#{msgs.anotherTrial}" value="#{controller.eligibilityForm.anotherTrial}" style="display: inline-table;" disabled="#{controller.eligibilityForm.locked}">
                        <f:selectItem itemValue="true" itemLabel="YES"/>
                        <f:selectItem itemValue="false" itemLabel="NO" /> 
                    </h:selectOneRadio>
                    <h:outputLabel class="yesno-questions" value="Current participation in another clinical treatment trial with an investigational agent used to manage BOS before or after enrollment." />
                </h:panelGrid>
                <p:message for="ques6" />
                <h:panelGrid columns="2" >
                    <h:selectOneRadio id="ques7" class="yesnoanswers" required="" requiredMessage="#{msgs.interfereCondition}" value="#{controller.eligibilityForm.interfereCondition}" style="display: inline-table;" disabled="#{controller.eligibilityForm.locked}">
                        <f:selectItem itemValue="true" itemLabel="YES"/>
                        <f:selectItem itemValue="false" itemLabel="NO" /> 
                    </h:selectOneRadio>
                    <h:outputLabel class="yesno-questions" value="Any condition that may interfere with subject's ability to perform pulmonary function testing" />
                </h:panelGrid>
                <p:message for="ques7" />
                <h:panelGrid columns="2" >
                    <h:selectOneRadio id="ques8" class="yesnoanswers" required="" requiredMessage="#{msgs.knownAllergy}" value="#{controller.eligibilityForm.knownAllergy}" style="display: inline-table;" disabled="#{controller.eligibilityForm.locked}">
                        <f:selectItem itemValue="true" itemLabel="YES"/>
                        <f:selectItem itemValue="false" itemLabel="NO" /> 
                    </h:selectOneRadio>
                    <h:outputLabel class="yesno-questions" value="Known allergy or hypersensitivity to pharmacologic agents used during ECP" />
                </h:panelGrid>
                <p:message for="ques8" />
                <h:panelGrid columns="2" >
                <h:selectOneRadio id="ques10a" class="yesnoanswers" required="true" requiredMessage="#{msgs.yesOrNoRequired}" value="#{controller.eligibilityForm.otherCondition}" style="display: inline-table;" disabled="#{controller.eligibilityForm.locked}">
                        <f:selectItem itemValue="true" itemLabel="YES"/>
                        <f:selectItem itemValue="false" itemLabel="NO" /> 
                    </h:selectOneRadio>
                    <h:outputLabel class="yesno-questions" value="Any condition that would significantly interfere with the participant's ability to adhere to the protocol or affect interpretation of the study results" />
                </h:panelGrid>
                <p:message for="ques10a" />
                <h:panelGrid columns="2" >
                    <h:selectOneRadio id="ques9" class="yesnoanswers" required="" requiredMessage="#{msgs.yesOrNoRequired}" value="#{controller.eligibilityForm.acuteCondition}" style="display: inline-table;" disabled="#{controller.eligibilityForm.locked}">
                        <f:selectItem itemValue="true" itemLabel="YES"/>
                        <f:selectItem itemValue="false" itemLabel="NO" /> 
                    </h:selectOneRadio>
                    <h:outputLabel class="yesno-questions" value="Any condition that would put the participant at an unacceptable risk for study-related complications as judged by the referring clinician. This may include: patients with a specific acute contraindication to receiving ECP due to any acute condition such as new or evolving myocardial infarction or central nervous system disorder, hemodynamic instability or hypovolemia, acute bleeding, or respiratory distress." />
                </h:panelGrid>
                <p:message for="ques9" />
                <h:panelGrid columns="2" >
                    <h:selectOneRadio id="ques10" class="yesnoanswers" required="" requiredMessage="#{msgs.yesOrNoRequired}" value="#{controller.eligibilityForm.contraindicatesMethoxsalen}" style="display: inline-table;" disabled="#{controller.eligibilityForm.locked}">
                        <f:selectItem itemValue="true" itemLabel="YES"/>
                        <f:selectItem itemValue="false" itemLabel="NO" /> 
                    </h:selectOneRadio>
                    <h:outputLabel class="yesno-questions" value="Patients with lupus erythematosus, porphyria cutanea tarda, erythropoietic protoporphyria, variegate porphyria, xeroderma pigmentosum, albinism, or other dermatologic or ocular condition that contraindicates the use of methoxsalen or markedly enhances photosensitivity" />
                </h:panelGrid>
                <p:message for="ques10" />
                <h:panelGrid columns="2" >
                    <h:selectOneRadio id="ques11" class="yesnoanswers" required="true" requiredMessage="#{msgs.yesOrNoRequired}" value="#{controller.eligibilityForm.aphakia}" style="display: inline-table;" disabled="#{controller.eligibilityForm.locked}">
                        <f:selectItem itemValue="true" itemLabel="YES"/>
                        <f:selectItem itemValue="false" itemLabel="NO" /> 
                    </h:selectOneRadio>
                    <h:outputLabel class="yesno-questions" value="Aphakia or absence of ocular lenses" />
                </h:panelGrid>
                <p:message for="ques11" />
                <h:panelGrid columns="2" >
                    <h:selectOneRadio id="ques12" class="yesnoanswers" required="true" requiredMessage="#{msgs.yesOrNoRequired}" value="#{controller.eligibilityForm.pregnancy}" style="display: inline-table;" disabled="#{controller.eligibilityForm.locked}">
                        <f:selectItem itemValue="true" itemLabel="YES"/>
                        <f:selectItem itemValue="false" itemLabel="NO" /> 
                    </h:selectOneRadio>
                    <h:outputLabel class="yesno-questions" value="Pregnancy (positive pregnancy test- a urine or blood pregnancy test must be obtained within two weeks prior to enrollment in women of childbearing potential)" />
                </h:panelGrid>
                <p:message for="ques12" />
                <h:panelGrid columns="2" >
                    <h:selectOneRadio id="ques13" class="yesnoanswers" required="true" requiredMessage="#{msgs.yesOrNoRequired}" value="#{controller.eligibilityForm.noInformedConsent}" style="display: inline-table;" disabled="#{controller.eligibilityForm.locked}">
                        <f:selectItem itemValue="true" itemLabel="YES"/>
                        <f:selectItem itemValue="false" itemLabel="NO" /> 
                    </h:selectOneRadio>
                    <h:outputLabel class="yesno-questions" value="Inability to provide informed consent or to comply with study treatments or assessments (e.g. due to cognitive impairment or geographic distance)" />
                </h:panelGrid>
                <p:message for="ques13" />
                <h:panelGrid columns="2">
                    <h:selectOneRadio id="ques14" class="yesnoanswers" required="true" requiredMessage="#{msgs.yesOrNoRequired}" value="#{controller.eligibilityForm.leukopenia3000}" style="display: inline-table;" disabled="#{controller.eligibilityForm.locked}">
                        <f:selectItem itemValue="true" itemLabel="YES"/>
                        <f:selectItem itemValue="false" itemLabel="NO" /> 
                    </h:selectOneRadio>
                    <h:outputLabel class="yesno-questions" value="Recent (i.e., within 2 weeks prior to enrollment) leukopenia (white blood cell count &lt; 3.0 K/cumm or 3,000/mm^3 or 3.0 10^9/L)." />
                </h:panelGrid>
                <p:message for="ques14" />
                <h:panelGrid columns="2">
                    <h:selectOneRadio id="ques15" class="yesnoanswers" required="true" requiredMessage="#{msgs.yesOrNoRequired}" value="#{controller.eligibilityForm.declineNotBOS}" style="display: inline-table;" disabled="#{controller.eligibilityForm.locked}">
                        <f:selectItem itemValue="true" itemLabel="YES"/>
                        <f:selectItem itemValue="false" itemLabel="NO" /> 
                    </h:selectOneRadio>
                    <h:outputLabel class="yesno-questions" value="Patients whose decline in lung function (FEV1) is related to either Restrictive CLAD or other causes that do not represent BOS such as pneumonia, heart failure, etc" />
                </h:panelGrid>
                <p:message for="ques15" />
                <h:panelGrid columns="2">
                    <h:selectOneRadio id="ques16a" class="yesnoanswers" required="true" requiredMessage="#{msgs.yesOrNoRequired}" value="#{controller.eligibilityForm.lymphocyteDepletion}" style="display: inline-table;" disabled="#{controller.eligibilityForm.locked}">
                        <f:selectItem itemValue="true" itemLabel="YES"/>
                        <f:selectItem itemValue="false" itemLabel="NO" /> 
                    </h:selectOneRadio>
                    <h:outputLabel class="yesno-questions" value="Patients post-transplant treated with any agent that depletes T lymphocytes for Induction, acute cellular rejection, or for any other reason can only be enrolled 12 months after the last dose of these agents assuming they meet enrollment inclusion criteria." />
                </h:panelGrid>
                <p:message for="ques16a" />
                <h:panelGrid columns="2">
                <h:selectOneRadio id="ques16" class="yesnoanswers" required="true" requiredMessage="#{msgs.yesOrNoRequired}" value="#{controller.eligibilityForm.escalatedSteroids}" style="display: inline-table;" disabled="#{controller.eligibilityForm.locked}">
                        <f:selectItem itemValue="true" itemLabel="YES"/>
                        <f:selectItem itemValue="false" itemLabel="NO" /> 
                    </h:selectOneRadio>
                    <h:outputLabel class="yesno-questions" value="Any patient who at least 6 months after transplant is treated with an escalated dose of steroids (i.e., prednisone greater than 30 mg/day or that exceeds 900 mg in a 30 day period or equipotent doses of other steroids like Solumedrol) for more than one month for an acute decline in lung function that is suspected to be secondary to acute cellular rejection." />
                </h:panelGrid>
                <p:message for="ques16" />

        </ui:define>
                
        <ui:define name="pulmonaryEvalInstructions">
            <div class="outputText-indented">
                1. Please enter all available FEV1 measurements obtained in the past year.<br/><br/>
                2. Please enter the FEV1 measurements from the oldest date at the top to the newest date at the bottom.<br/>
            </div>
        </ui:define>
        
        <ui:define name="baselineQualityOfLife">
            <div class="confirmeligquestions">
                <div class="ques">
                    <h:outputLabel class="yesno-questions" value="E. Has the Baseline Quality of Life Survey been administered?" />
                </div>
                <h:selectOneRadio id="baselineQualityOfLifeCompleted" required="true" requiredMessage="#{msgs.wasBaselineQOLcompleted}" value="#{controller.eligibilityForm.baselineQualityOfLifeCompleted}" style="display: inline-table;" disabled="#{controller.eligibilityForm.commentLocked}">
                            <f:selectItem itemValue="true" itemLabel="YES" />
                            <f:selectItem itemValue="false" itemLabel="NO" /> 
                </h:selectOneRadio>
            </div> 
            <div class="clear"></div>
            <div>
                <p:message for="baselineQualityOfLifeCompleted" />
            </div>
            <div class="confirmeligquestions">
                <div class="ques">
                    <h:outputLabel class="yesno-questions" value="F. Date the Baseline Quality of Life Survey was administered" />
                </div>
                <div class="cal">
                    <p:calendar id="baselineQualityOfLifeDate" required="true" requiredMessage="#{msgs.baselineQOLdate}" class="calendar" value="#{controller.eligibilityForm.baselineQualityOfLifeDate}" mode="popup" showOn="button" showButtonPanel="false" pattern="MM/dd/yyyy" navigator="true" size="10" disabled="#{controller.eligibilityForm.commentLocked}" converter="strictDateTimeConverter" />
                </div>
            </div> 
            <div class="clear"></div>
            <div>
                <p:message for="baselineQualityOfLifeDate" />
            </div>
        </ui:define>
    </ui:composition>
</html>
