<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="./template/newEligibilityFormTemplate.xhtml">
        <ui:param name="leukopeniaThreshold" value="3,000 cells/mm3" />
        <ui:param name="baselineComponentName" value="component" />
        
        <ui:param name="inclusionMinimumFive" value="At minimum five recorded FEV1 measurements obtained at intervals at least two weeks apart over the six months preceding study enrollment, of which one FEV1 must be within two weeks of enrollment" />
        <ui:param name="exclusionContraindication" value="Has a) acute contraindication to receiving ECP due to any acute condition such as new or evolving myocardial infarction or central nervous system disorder, hemodynamic instability or hypovolemia, acute bleeding, respiratory distress; b) lupus erythematosus, porphyria cutanea tarda, erythropoietic protoporphyria, variegate porphyria, xeroderma pigmentosum, albinism, or other dermatologic or ocular condition that contraindicates the use of methoxsalen or markedly enhances photosensitivity in the investigator’s judgment; or c) other condition that poses unacceptable risk for study-related complications as judged by the referring clinician" />
        <ui:param name="exclusionAdherence" value="Any condition that would significantly interfere with ability to adhere to the protocol or affect interpretability of the study results" />
        
        <ui:define name="timeSensitiveNotice">
            <u>Important and Time-Sensitive:</u> Please PRINT this subject's Confirmation of Eligibility (COE) Form, have an authorized physician investigator sign and date the COE form, and scan and upload the signed COE form along with the <u>de-identified</u> Source Documents listed at the top of the COE Form.  Per <a href="ecpRegistryProtocol.xhtml#section3-7" target="_blank">Protocol Section 3.7</a>, submission of this signed COE Form with DCC Verification is required before ECP or any study-related invasive procedure (e.g. central venous catheter placement) may be performed. NOTE: ECP Treatment or study-related invasive procedures are not permitted for Control Arm participants.
        </ui:define>
        
        <ui:define name="baselineMeasurementInstructions">
            <div class="ishlt-directions">
                2. ISHLT BASELINE MEASUREMENTS - The system will calculate the baseline pulmonary function testing results using the ISHLT definition = the average of the two highest FEV1 measurements obtained at least three weeks apart after transplantation. Please provide the results of the two component PFT assessments to be used for this calculation: 
            </div>
        </ui:define>
        
        <ui:define name="pulmonaryEvalInstructions">
            <div class="outputText-indented">
                1. Please enter the FEV1 values from the oldest date at the top to the newest date at the bottom.<br/>
                2. Three or more FEV1 values must have been obtained within the six months prior to the diagnosis of new BOS diagnosis and must not be greater than eight weeks apart.<br/>
                3. At least 5 recorded FEV1 measurements obtained at intervals of at least two weeks apart, over the six months preceding study enrollment.<br/>
                4. A minimum of two FEV1 must be obtained within six weeks of enrollment and are at least three weeks apart that are used for initial diagnosis of BOS. Therefore, the most recent FEV1 of these two must have been obtained within three weeks prior to enrollment<br/>
            </div>
        </ui:define>
    </ui:composition>

</html>
