<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    
    <ui:composition template="./formTemplate.xhtml">
        <ui:define name="form_title">
            
            <h:outputStylesheet library="css" name="ecpregistry.css" />
            
            <div id="#{controller.style.header}">
                <h3>Extracorporeal Photopheresis (ECP) for the Management of Progressive Bronchiolitis Obliterans Syndrome (BOS) in Medicare-Eligible Recipients of Lung Allografts</h3>
                <h2>HOSPITALIZATION - Case Report Form (CRF)</h2>
                <div>
                    <h2><center><h:outputText value="#{controller.selectedForm.title}" /></center></h2>
                </div>
            </div>
            <div>
                <h2>Please include the following types of source documents:</h2>
                <div>
                <b>1. Admission Progress Note / Emergency Department Note</b><br/>
                <b>2. Acute Ambulatory Care Note / Acute Clinic Note</b><br/>
                <b>3. Discharge Summary</b>
                </div>
            </div>

        </ui:define>
       
        <ui:define name="form_content">
            <div id="crfcenterparticipantidsdate">
                <div>
                <b>Admission Date or Emergency Department (ED) Date: </b>
                <p:calendar id="admissionEDDate" class="calendar" value="#{controller.hospitalizationForm.admissionEDDate}" requiredMessage="#{msgs.admissionEDDate}" disabled="#{controller.hospitalizationForm.locked}" mode="popup" showOn="button" pattern="MM/dd/yyyy" navigator="true" size="10" converter="strictDateTimeConverter">
                    <f:validateRequired disabled="#{!param['VALIDATE']}" />  <!-- The value for the param variable VALIDATE is determined in the formTemplate.xhtml file under c:if test -->
                </p:calendar>
                </div>
            </div>
            <h:panelGroup rendered="#{controller.renderVerificationPanel('admissionEDDate')}">
                <div class="selectVerificationStatusIndented">
                    <h:outputLabel value="DATE: VERIFICATION STATUS " rendered="true"/>
                    <h:selectOneMenu id="verifyTypeDate" value="#{controller.hospitalizationForm.admissionEDDateVerificationStatus}" rendered="true">
                        <f:selectItems value="#{controller.hospitalizationForm.verificationTypes}" var="v" itemValue="#{v}" itemLabel="#{v.name}"/>
                    </h:selectOneMenu>
                </div>
                <div class="selectVerificationStatusIndented">
                    <h:outputText value="DCC Query Comment: " rendered="true" />
                    <h:inputTextarea value="#{controller.hospitalizationForm.admissionEDDateDccComment}" rows="1" cols="50" rendered="true" /> 
                </div>
            </h:panelGroup>
            <p:message for="admissionEDDate" />

            <br/>
                <div class="pre-treat-assess">
                    <b>1. Admission or ED Diagnosis: </b>
                    <h:inputTextarea id="ques1" required="#{param['VALIDATE']}" value="#{controller.hospitalizationForm.admissionEDDiagnosis}" rows="2" cols="80" disabled="#{controller.hospitalizationForm.locked}" style="margin-left: 17px;" >
                        <f:validateRequired disabled="#{!param['VALIDATE']}" />
                    </h:inputTextarea>
                </div>
            <h:panelGroup rendered="#{controller.renderVerificationPanel('admissionEDDiagnosis')}">
                <div class="selectVerificationStatusIndented">
                    <h:outputLabel value="Q1: VERIFICATION STATUS " rendered="true"/>
                    <h:selectOneMenu id="verifyType1" value="#{controller.hospitalizationForm.admissionEDDiagnosisVerificationStatus}" rendered="true">
                        <f:selectItems value="#{controller.hospitalizationForm.verificationTypes}" var="v" itemValue="#{v}" itemLabel="#{v.name}"/>
                    </h:selectOneMenu>
                </div>
                <div class="selectVerificationStatusIndented">
                    <h:outputText value="DCC Query Comment: " rendered="true" />
                    <h:inputTextarea value="#{controller.hospitalizationForm.admissionEDDiagnosisDccComment}" rows="1" cols="50" rendered="true" /> 
                </div>
            </h:panelGroup>
                <p:message for="ques1" />
                
                <div class="pre-treat-assess">
                    <b>2. Discharge Date: </b>
                    <p:calendar id="hospitalizationDate" class="calendar" value="#{controller.hospitalizationForm.dischargeDate}" requiredMessage="#{msgs.dischargeDate}" disabled="#{controller.hospitalizationForm.locked}" mode="popup" showOn="button" pattern="MM/dd/yyyy" navigator="true" size="10" converter="strictDateTimeConverter">
                        <f:validateRequired disabled="#{!param['VALIDATE']}" />  <!-- The value for the param variable VALIDATE is determined in the formTemplate.xhtml file under c:if test -->
                    </p:calendar>
                </div>
            <h:panelGroup rendered="#{controller.renderVerificationPanel('dischargeDate')}">
                <div class="selectVerificationStatusIndented">
                    <h:outputLabel value="Q2: VERIFICATION STATUS " rendered="true"/>
                    <h:selectOneMenu id="verifyType2" value="#{controller.hospitalizationForm.dischargeDateVerificationStatus}" rendered="true">
                        <f:selectItems value="#{controller.hospitalizationForm.verificationTypes}" var="v" itemValue="#{v}" itemLabel="#{v.name}"/>
                    </h:selectOneMenu>
                </div>
                <div class="selectVerificationStatusIndented">
                    <h:outputText value="DCC Query Comment: " rendered="true" />
                    <h:inputTextarea value="#{controller.hospitalizationForm.dischargeDateDccComment}" rows="1" cols="50" rendered="true" /> 
                </div>
            </h:panelGroup>
                <p:message for="hospitalizationDate" />
            
                <div class="pre-treat-assess">
                    <b>3. Discharge Diagnosis: </b>
                    <h:inputTextarea id="ques3" required="#{param['VALIDATE']}" value="#{controller.hospitalizationForm.dischargeDiagnosis}" rows="2" cols="80" disabled="#{controller.hospitalizationForm.locked}" style="margin-left: 17px;" >
                        <f:validateRequired disabled="#{!param['VALIDATE']}" />
                    </h:inputTextarea>
                </div>
            <h:panelGroup rendered="#{controller.renderVerificationPanel('dischargeDiagnosis')}">
                <div class="selectVerificationStatusIndented">
                    <h:outputLabel value="Q3: VERIFICATION STATUS " rendered="true"/>
                    <h:selectOneMenu id="verifyType3" value="#{controller.hospitalizationForm.dischargeDiagnosisVerificationStatus}" rendered="true">
                        <f:selectItems value="#{controller.hospitalizationForm.verificationTypes}" var="v" itemValue="#{v}" itemLabel="#{v.name}"/>
                    </h:selectOneMenu>
                </div>
                <div class="selectVerificationStatusIndented">
                    <h:outputText value="DCC Query Comment: " rendered="true" />
                    <h:inputTextarea value="#{controller.hospitalizationForm.dischargeDiagnosisDccComment}" rows="1" cols="50" rendered="true" /> 
                </div>
            </h:panelGroup>
                <p:message for="ques3" />
            <br/>

            <div class="question-radioButton">
                <b>4. Comments: </b>
                <h:inputTextarea value="#{controller.hospitalizationForm.comment}" rows="2" cols="80" disabled="#{controller.hospitalizationForm.commentLocked}" style="margin-left: 17px;" />
            </div>

        </ui:define>
    </ui:composition>
    
</html>

