<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

<ui:composition template="/template/template.xhtml">
    <ui:define name="body">

        <h:form id="form">
            <h:outputStylesheet library="css" name="ecpregistry.css" />

            <div id="#{controller.style.header}">
                <h3>Extracorporeal Photopheresis (ECP) for the Management of Progressive Bronchiolitis Obliterans Syndrome (BOS) in Medicare-Eligible Recipients of Lung Allografts</h3>
                <h2>ECP New BOS Monthly Site CRF Status Report</h2>
            </div>

            <div id="ecpreportdate" style="display: -webkit-box">
                <div><b style="font-size: medium">Current Date: </b>
                    <h:outputText value="#{reportsController.currentDate}" style="font-size: medium;padding-right: 30px">
                        <f:convertDateTime pattern="MM-dd-yyyy"/>
                    </h:outputText>
                </div>
                <div>
                    <b style="font-size: medium">Select Run Date (MM-dd-yyyy) : </b>
                    <p:calendar id="newDate" value="#{reportsController.crfInputDate}" style="padding-right: 10px" size="8">
                        <f:convertDateTime pattern="MM-dd-yyyy"/>
                    </p:calendar>
                    <h:commandButton value="Download Report" action="#{reportsController.copyFilesAction}"></h:commandButton>
                </div>
                <div class="clear"></div> <!-- The clear style is needed to reset the floating column element in css so that other elements don't line up with the last column. -->
            </div>
            <h:outputText value = "#{reportsController.crfOutcome}"></h:outputText>
            <br/>

        </h:form>
    </ui:define>
</ui:composition>

</html>
